<ion-header class="jr_theme_color jr_header">
  <button menuToggle ion-button class="jr_left jr_header_btn jr_sidemenu_icon"></button>
  <div class="jr_header_title">
    <h4>Manage ride offer</h4>
  </div>
  <div class="jr_clear"></div>
</ion-header>

<ion-content padding>
    <div class="jr_ride_wrapper">
      <div class="jr_manage_offer">
        <div class="jr_home_offer_photo" *ngIf="data.car_image" style="width:70px;height:70px;"><img [src]="data.car_image"></div>
          <div class="jr_home_offer_photo"   *ngIf="!data.car_image" style="width:70px;height:70px;"><img src="assets/img/jr_car_img.png"></div>
        <div class="jr_home_offer_detail" style="white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;width:calc(100% - 70px);padding-left:10px !important;padding-top:5px !important;" *ngIf="data">
        <h5>{{data.departure_point}}</h5>
          <h6><strong>{{data.detour_time}}</strong></h6>
          <p>{{data.departure_point}}<span><img src="assets/img/jr_forward.png"></span>{{data.drop_point}}</p>
        </div>
        <div class="jr_clear"></div>
      </div>

<div class="jr_offerride_details">

      <ul>
      <li>
      <div class="jr_offerride_detail_content">
        <div class="jr_offerride_detail_content_left">
          <h4><img src="assets/img/jr_seat.png">Available Seats</h4>
        </div>
        <div class="jr_offerride_detail_content_right">
          <div class="jr_offerride_price_tag">
            <span>
              <!--<img src="assets/img/jr_sub.png" (click)="decrement(leftseats)">-->
              </span>
            <span class="jr_offer_price" style="color:#717171;">{{leftseats}}</span>
            <span> 
              <!--<img src="assets/img/jr_add.png" (click)="increment(leftseats)">-->
              </span>
          </div>
        </div>
        <div class="jr_clear"></div>
      </div>
    </li>
    <li>
      <h4><img src="assets/img/jr_comment.png">Request for waiting Approval</h4>
    </li>
    <li class="jr_bordernone" *ngIf="data">
      <div class="jr_driver_profile">
        <div class="jr_home_offer_photo" *ngIf="data.car_image" style="width:70px;height:70px;"><img [src]="data.car_image"></div>
         <div class="jr_home_offer_photo"  *ngIf="!data.car_image" style="width:70px;height:70px;"><img src="assets/img/jr_car_img.png"></div>
        <div class="jr_search_profile_detail" style="width: 70%;padding-top:10px;">
          <h6>{{data.first_name}}<span *ngIf="data.date_of_birth">{{age}} Y/O</span></h6>
          <div class="jr_avia">
            <span class="left"><img src="assets/img/jr_seat1.png"><strong>{{leftseats}}</strong> seats</span>
            <span class="right"><img src="assets/img/jr_price.png"><strong>{{data.amount}}</strong></span>
          </div>
        </div>
        <div class="jr_clear"></div>
      </div>
    </li>
    <p class="jr_p">Do you want to Approve this<br>
Booking request ?</p>
<div class="jr_approve_btn_bay">
  <button  class="jr_approve_btn"(click)="approve()">Approve</button>
  <button  class="jr_decline_btn"(click)="decline()">Decline</button>
  <div class="jr_clear"></div>
</div>
<br>
<br>
<!--<p class="jr_p">You have until Friday 04 : 00 pm
to Answer</p>-->
<div class="jr_approve_btn_bay">
<button class="jr_contact_btn" (click)="contact()">Contact</button>
</div>
<br>
<div class="jr_approve_btn_bay">
  <button  class="jr_edit_btn" (click)="edit(data.ride_id)">Edit Ride</button>
  <button  class="jr_delete_btn "(click)="delete()">Delete Ride</button>
  <div class="jr_clear"></div>
</div>

  </ul>


</div>

    </div>
</ion-content>