<ion-header class="jr_theme_color jr_header">
  <button ion-button class="jr_left jr_header_btn jr_back_icon" (click)="goBack()"></button>
  <div class="jr_header_title">
    <h4 *ngIf="user_data">{{user_data.first_name}}</h4>
  </div>
  <div class="jr_clear"></div>
</ion-header>
<ion-content padding>
  <div class="jr_profile_content1" *ngIf="data">
    <div class="jr_request_confirm">
      <div class="jr_request_left">
        <img src="assets/img/jr_confirm.png">
      </div>
      <div class="jr_request_right">
        <h5>Request send to Driver</h5>
        <p>We will notify you of the driver’s reply before</p>
        <!--<h6>Today 05: 00 am</h6>-->
      </div>
      <div class="jr_clear"></div>
    </div>
    <div class="jr_search_bottom_bay">
      <div class="jr_search_profile">
        <div class="jr_search_verified"><img src="assets/img/jr_verified_prof.png"></div>
        <img *ngIf="data.profile_photo"[src]="data.profile_photo">
            <img  *ngIf="!data.profile_photo"src="assets/img/jr_pr.png">
      </div>
      <div class="jr_search_profile_detail" style="padding-top:15px;">
        <h6><span>{{data.first_name}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span *ngIf="data.age">{{data.age}} Y/O</span></h6>
         <span class="jr_star_ratting" *ngIf="rate.ratenum!=0"><img src="assets/img/jr_star.png"><strong>{{rate.avgrate}}/5</strong>{{rate.ratenum}} Ratings</span><br>
      <span class="jr_star_ratting" *ngIf="rate.ratenum==0"><img src="assets/img/jr_star.png"><strong>0/5</strong>{{rate.ratenum}} Ratings</span><br>
      </div>
      <div class="jr_clear"></div>
      <hr>
    </div>
    <div class="jr_time_schedule" style="padding-top:0px;">
      <h5><strong>{{data.departure_date}},</strong>&nbsp;{{data.detour_time}}</h5>
      <p>Waiting for approval</p>
    </div>
    <div class="jr_from_to">
      <li>
        <div class="child1 from">{{data.detour_time}}<div class="jr_box1"></div></div>
        <div class="child2"><strong>{{source_head}}</strong>
        <p>{{source_head}}<br>
        {{source_new}}</p></div>
        <div class="jr_clear"></div>
      </li>
      <li>
        <div class="child1 to">{{data.reached_time}}</div>
        <div class="child2"><strong>{{destination_head}}</strong>
        <p>{{destination_head}}<br>
        {{destination_new}}</p></div>
        <div class="jr_clear"></div>
      </li>
    </div>
    <hr>
    <div class="jr_bottom_button_bay">

      <button ion-button class="jr_bottom_send" (click)="summary()">Continue<span><img src="assets/img/jr_send_arw.png"></span></button>
    </div>
  </div>

</ion-content>
