
<ion-content class="jr_login_bg">
  <div class="jr_profile_content">
    <div class="jr_login_wrapper">
      <div class="jr_logo">
        <img src="assets/img/jr_logo2.png">
      </div>
      <div class="jr_login_detail">
        <h5>Are you</h5>
        <h4>ready to begin ?</h4>
        <p>Share your car journey with co- travellers just<br> like you and cover all your fuel costs!</p>
        <hr>
        <form [formGroup]="login" (ngSubmit)="home()">
        <input class="jr_login_input" formControlName="email"    type="email" placeholder="Email">
        <input class="jr_login_input" formControlName="password" type="password" placeholder="Password">
        <button ion-button class="jr_offer_ride2" [disabled]="!login.valid" type="submit">LOGIN</button>
        <p (click)="forgotpassword()"><i>Forgot Password ?</i></p>
         </form>
      </div>
      
      <!-- <div class="jr_landing_btm">
        <button ion-button class="jr_btm_btn1" (click)="goBack()">
          <img src="assets/img/jr_arrow1.png">
        </button>
      </div> -->
    </div>
  </div>
</ion-content>


