<ion-header class="jr_theme_color jr_header">
  <button ion-button class="jr_left jr_header_btn jr_back_icon" (click)="goBack()"></button>
  <div class="jr_header_title">
    <h4>Location</h4>
  </div>
  <div class="jr_clear"></div>
</ion-header>
<ion-content>
	<div class="jr_location_wrapper">
		<div #map id="map" style="width:100%;height:100%;"></div> 
	</div>
</ion-content>
<ion-footer>
	<div class="jr_location_footer">
		<div class="jr_car_passenger_list">
			<div class="jr_pass_listing"  *ngIf="data1">
				<li *ngFor ="let data of data1 let i=index">
					<ion-grid>
						<ion-row>					
							<ion-col col-4>
								<div class="jr_number_circle">{{i+1}}</div>
							</ion-col>
							<ion-col col-8>
								<h5>{{data.first_name}} {{data.last_name}}</h5>
								<h6>{{data.phone_no}}</h6>
							</ion-col>
						</ion-row>
					</ion-grid>				
				</li>
				<div class="jr_clear"></div>
			</div>
		
		</div>
		<div class="jr_bottom_button_bay" style="position:relative;">
			<button ion-button class="jr_offer_ride5" (click)="pay()">End Ride</button>
		</div>
		</div>
</ion-footer>
