<div class="jr_popover_wrapper">
  <ul>
     <li *ngIf ='type=="offer"' [hidden]="cotravellerslist" (click)="seecotravellers()" >See Co Travellers</li>
     <li *ngIf ='type=="booking"' (click)="Ratethis()" >Rate</li>
     <li *ngIf ='type=="offer"'(click)="editoffer()" >Edit</li>
     
	 <li *ngIf ='type=="offer"'(click)="deleteoffer()" >Delete</li>
   <!--  <li *ngIf ='type=="offer"'[hidden]="ridestart" (click)="activerideoffer()">Active ride</li> -->
      <div class="jr_clear"></div>
   </ul>
   <div class="jr_clear"></div>
</div>
