<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Menu1" tabIcon="ios-browsers"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Menu2" tabIcon="ios-book"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Menu3" tabIcon="ios-notifications"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Menu4" tabIcon="ios-person"></ion-tab>
</ion-tabs>
