<ion-header class="jr_theme_color jr_header">
  <button ion-button class="jr_left jr_header_btn jr_back_icon" (click)="dismiss()"></button>
  <div class="jr_header_title">
    <h4>Upload your car image</h4>
  </div>
  <button ion-button class="jr_right jr_header_btn"></button>
  <div class="jr_clear"></div>
</ion-header>


<ion-content class="jr_add_car_bg">
  <div class="jr_profile_content jr_paddingbtm0">
    <div class="jr_text_center">
      <div class="jr_edit_row jr_text_center">
        <br><br>
        <h4 class="jr_padding0 jr_margin0">Add an image</h4>
        <h3 class="jr_margintop0">of your car</h3>
      <hr>
      <br>
      <br>
      </div>
      <div class="jr_upload_image_car">
        <img *ngIf="userdata" [src]="profile_photo" >
       <!--  <img src="assets/img/jr_car_img.png" > -->
      </div>
    </div>
    <div class="jr_bottom_button_bay">
	<button ion-button (click)="uploadcarPicture()" class="jr_offer_ride2">Upload image</button>
    </div>
  </div>

</ion-content>
