<ion-header class="jr_theme_color jr_header">
  <button ion-button class="jr_left jr_header_btn jr_back_icon" (click)="dismiss()"></button>
  <div class="jr_header_title">
    <h4>Edit car</h4>
  </div>
  <button ion-button class="jr_right jr_header_btn"></button>
  <div class="jr_clear"></div>
</ion-header>
  <ion-content>
     <form #editCar="ngForm" (ngSubmit)="edit_car(form)" >
    <div class="jr_profile_content jr_paddingbtm0">
      <div class="jr_text_center">
        <div class="jr_edit_row jr_text_center">
          <br><br>
          <h3 class="jr_margintop0">Edit your car</h3>
        <hr>
        <div class="jr_offer_bg">
            <img src="assets/img/jr_mycar.png">
        </div>
        </div>
      </div>
      <div class="jr_edit_row">
        <select name="car_make" [(ngModel)]="add_car.car_make" class="jr_select jr_bordernone" required>
        <option value="">Choose the make of the Car</option>
        <option *ngFor="let c of car_make" value="{{c.car_type}}" >{{c.car_type}}</option>
      </select>
      </div>
      <div class="jr_edit_row">
       <select name="car_year" [(ngModel)]="add_car.car_year" class="jr_select jr_bordernone" required>
        <option value="">Choose the year of make</option>
        <option *ngFor="let y of year" value="{{y}}">{{y}}</option>
      </select>
      </div>
      <div class="jr_edit_row">
       <select name="car_type" [(ngModel)]="add_car.car_type" class="jr_select jr_bordernone" required>
        <option value="">Choose the type of the Car</option>
       <!--  <option value="Hatchback">Hatchback</option>
        <option value="Sedan">Sedan</option>
        <option value="Convertible">Convertible</option>
        <option value="SUV">SUV</option>
        <option value="Minivan">Minivan</option>
        <option value="Van">Van</option> -->
          <option *ngFor="let ct of car_type" value="{{ct.type}}" >{{ct.type}}</option>
      </select>
      </div>
      <div class="jr_edit_row">
      <select name="car_color" [(ngModel)]="add_car.car_color" class="jr_select jr_bordernone" required>
        <option value="" >Choose the Color level</option>
        <option *ngFor="let cl of colours" value="{{cl.car_color}}" >{{cl.car_color}}</option>
      </select>
      </div>
      <div class="jr_edit_row">
      <div class="jr_offerride_detail_content">
            <div class="jr_offerride_detail_content_left jr_no_seat">
              <h4><img src="assets/img/jr_seat.png">No. of Seats</h4>
            </div>
            <div class="jr_offerride_detail_content_right">
              <div class="jr_offerride_price_tag">
               <span><img (click)="dcr_count()" src="assets/img/jr_sub.png"></span>
               <span class="jr_offer_price" style="color:#717171;">{{count}}</span>
               <span><img (click)="incr_count()" src="assets/img/jr_add.png"></span>
              </div>
            </div>
            <div class="jr_clear"></div>
          </div>
          </div>
      </div>
      <div class="jr_space_height"></div>
      <div class="jr_bottom_button_bay">
          <button  ion-button class="jr_offer_ride2">Save my car</button>
        </div>

</form>
</ion-content>
