<ion-header class="jr_theme_color jr_header">
  <button ion-button class="jr_left jr_header_btn jr_back_icon" (click)="dismiss()"></button>
  <div class="jr_header_title">
    <h4>Edit Preference</h4>
  </div>
  <button ion-button class="jr_right jr_header_btn"></button>
  <div class="jr_clear"></div>
</ion-header>
<ion-content>
  <div class="jr_offerride_details">
    <ul>
      <li class="jr_bordernone jr_paddingbtm0">
        <h4>Chattiness</h4>
        <div class="jr_pre_row">
          <div class="jr_width15">
            <span><img src="assets/img/e_pre1.png"></span>
          </div>
          <div class="jr_width85">
              <select name="chattiness" [(ngModel)]="edit_pre.chattiness" class="jr_pre_select1">
            <option [selected]="edit_pre.chattiness =='0'" value="0">I am quiet type</option>
                      <option [selected]="edit_pre.chattiness =='1'" value="1">I love to chat</option>
                      <option [selected]="edit_pre.chattiness =='2'" value="2">I talk depending on my mood</option>
              </select>
          </div>
          <div class="jr_clear"></div>
        </div>
      </li>
      <li class="jr_bordernone jr_paddingbtm0">
        <h4>Smoking</h4>
        <div class="jr_pre_row">
          <div class="jr_width15">
            <span><img src="assets/img/e_pre2.png"></span>
          </div>
          <div class="jr_width85">
              <select name="smoking" [(ngModel)]="edit_pre.smoking" class="jr_pre_select1">
            <option [selected]="edit_pre.smoking =='0'" value="0">No smoking in car please </option>
                      <option [selected]="edit_pre.smoking =='1'" value="1">Smoking doesn't bother me</option>
                      <option [selected]="edit_pre.smoking =='2'" value="2">Smoking in car is OK sometimes</option>
              </select>
          </div>
          <div class="jr_clear"></div>
        </div>
      </li>
      <li class="jr_bordernone jr_paddingbtm0">
        <h4>Music</h4>
        <div class="jr_pre_row">
          <div class="jr_width15">
            <span><img src="assets/img/e_pre3.png"></span>
          </div>
          <div class="jr_width85">
              <select name="music" [(ngModel)]="edit_pre.music" class="jr_pre_select1">
            <option [selected]="edit_pre.music =='0'" value="0">Silence is golden</option>
                      <option [selected]="edit_pre.music =='1'" value="1">I like music</option>
                      <option [selected]="edit_pre.music =='2'" value="2">I listen to music if I fancy it</option>
              </select>
          </div>
          <div class="jr_clear"></div>
        </div>
      </li>
      <li class="jr_bordernone jr_paddingbtm0">
        <h4>Pets</h4>
        <div class="jr_pre_row">
          <div class="jr_width15">
            <span><img src="assets/img/e_pre4.png"></span>
          </div>
          <div class="jr_width85">
              <select name="pets" [(ngModel)]="edit_pre.pets" class="jr_pre_select1">
            <option [selected]="edit_pre.pets =='0'" value="0" >No pets in the car please</option>
                      <option [selected]="edit_pre.pets =='1'" value="1" >Pets welcome. Woof!</option>
                      <option [selected]="edit_pre.pets =='2'" value="2">Depends on the animal</option>
              </select>
          </div>
          <div class="jr_clear"></div>
        </div>
      </li>

    </ul>
    <div class="jr_bottom_button_bay">
      <button (click)="save_preferences()" ion-button class="jr_offer_ride2">Save Preferences</button>
    </div>
  </div>

</ion-content>
