<ion-header class="jr_theme_color jr_header">
   <button menuToggle ion-button class="jr_left jr_header_btn jr_back_icon " (click)="dismiss()"></button>
   <div class="jr_header_title">
      <h4>Edit Profile</h4>
   </div>
   <button ion-button class="jr_right jr_header_btn"></button>
   <div class="jr_clear"></div>
</ion-header>
<ion-content>
   <div class="jr_profile_wrapper">
      <div class="jr_profile_banner">
         <div class="jr_profile_photo">
            <div class="jr_profile_photo_edit" (click)="editphoto()">
               <img src="assets/img/jr_edit.png">
            </div>
            <img *ngIf="currentUser && currentUser.profile_photo" [src]="currentUser.profile_photo">
         </div>
      </div>
     <form  [formGroup]="update_profile" (ngSubmit)="edit_profile()" >
      <div class="jr_profile_content">
         <h4 *ngIf="currentUser">{{currentUser.first_name|uppercase}} {{currentUser.last_name|uppercase}}</h4>
         <hr>
         <br>
         <div class="jr_profile_tab_content">
            <h4>ABOUT YOU</h4>
            <div class="jr_edit_row">
               <span>
                  <h5>
                     GENDER
                     <select required [(ngModel)]="edit_user.gender"  formControlName="gender"  class="jr_edit_select">
                     <option [selected]="edit_user.gender =='male'" value="male">MALE</option>
                     <option [selected]="edit_user.gender =='female'" value="female">FEMALE</option>
                     </select>
                  </h5>
               </span>
            </div>
            <div class="jr_edit_row">
               <h5>FIRST NAME</h5>
               <input  *ngIf="edit_user" [(ngModel)]="edit_user.f_name"  formControlName="f_name" type="text" class="jr_edit_profile_input" placeholder="FIRST NAME" required >
            </div>
            <div class="jr_edit_row">
               <h5>LAST NAME</h5>
               <input  *ngIf="edit_user" [(ngModel)]="edit_user.l_name" formControlName="l_name"  class="jr_edit_profile_input" placeholder="LAST NAME">
            </div>
            <div class="jr_edit_row">
               <h5>DATE OF BIRTH</h5>
               <div style="padding-top: 10px;">
                  <ion-grid class="jr_padding0">
                     <ion-row>
                        <ion-col col-3>
                           <select required [(ngModel)]="edit_user.day"  formControlName="day" class="jr_edit_select1">
                           <option value="" >DD</option>
                           <option [selected]="edit_user.dd =='d'" *ngFor="let d of dd" value="{{d}}">{{d}}</option>
                           </select>
                        </ion-col>
                        <ion-col  col-4>
                           <select required [(ngModel)]="edit_user.month" formControlName="month"  class="jr_edit_select1">
                           <option value="">MM</option>
                           <option [selected]="edit_user.month =='m.value'" *ngFor="let m of mm" value="{{m.value}}">{{m.text}}</option>
                           </select>
                        </ion-col>
                        <ion-col col-5>
                           <select required [(ngModel)]="edit_user.year"  formControlName="year" class="jr_edit_select1">
                           <option value="">YYYY</option>
                           <option [selected]="edit_user.year =='y'" *ngFor="let y of yy" value="{{y}}">{{y}}</option>
                           </select>
                        </ion-col>
                     </ion-row>
                  </ion-grid>
               </div>
            </div>
            <div class="jr_edit_row jr_padding0">
               <h4 style="padding-top: 5px;">YOUR BIOGRAPHY</h4>
               <p *ngIf="currentUser">{{currentUser.biography}}</p>
               <button type="button" ion-button class="jr_addcomment_btn" (click)="editbio()">edit biography</button>
            </div>
            <div class="jr_edit_row jr_padding0" >
               <h4>EMAIL</h4>
               <input readonly *ngIf="edit_user" [(ngModel)]="edit_user.email"  formControlName="email" class="jr_edit_profile_input" placeholder="email@dummy.com">
            </div>
            <div class="jr_edit_row jr_padding0">
               <h4>PHONE NUMBER</h4>
               <div>
                  <div class="jr_width30">
                     <select class="jr_edit_select1">
                        <option>+91</option>
                     </select>
                  </div>
                  <div class="jr_width70">
                     <input *ngIf="edit_user" [(ngModel)]="edit_user.mobile"  formControlName="mobile" class="jr_edit_profile_input" placeholder="9961531199">
                  </div>
                  <div class="jr_clear"></div>
               </div>
            </div>
            <div class="jr_edit_row jr_padding0">
               <div class="jr_custom">
                  <input id="check1" type="checkbox" name="check" value="check1">
                  <label for="check1">Don’t display my phone number to anyone</label>
               </div>
            </div>
         </div>
      </div>
      <div class="jr_bottom_button_bay">
         <button  ion-button class="jr_offer_ride2" [disabled]="!update_profile.valid">Save</button>
      </div>
</form>
   </div>
</ion-content>
