<ion-content class="jr_login_bg">
  <div class="jr_profile_content">
      <div class="jr_login_detail">
        <h5>Sit back and Relax !</h5>
        <p>while we verify your phone number</p>
        <hr>
        <div class="jr_passcode">
          <ul>
               <li>
              <select class="jr_passcode_select"  id="select0"  [(ngModel)]="selectitem" (change)="selecteitem()" >
                <option value=0>0</option>
                <option value=1>1</option>
                <option value=2>2</option>
                <option value=3>3</option>
                <option value=4>4</option>
                <option value=5>5</option>
                <option value=6>6</option>
                <option value=7>7</option>
                <option value=8>8</option>
                <option value=9>9</option>
              </select>
            </li>
          <li>
              <select class="jr_passcode_select"  id="select1" [(ngModel)]="selectitem1" (change)="selecteitem1()">
                <option value=0>0</option>
                <option value=1>1</option>
                <option value=2>2</option>
                <option value=3>3</option>
                <option value=4>4</option>
                <option value=5>5</option>
                <option value=6>6</option>
                <option value=7>7</option>
                <option value=8>8</option>
                <option value=9>9</option>
              </select>
            </li>
            <li>
              <select class="jr_passcode_select"  id="select2" [(ngModel)]="selectitem2"  (change)="selecteitem2()">
                 <option value=0>0</option>
                <option value=1>1</option>
                <option value=2>2</option>
                <option value=3>3</option>
                <option value=4>4</option>
                <option value=5>5</option>
                <option value=6>6</option>
                <option value=7>7</option>
                <option value=8>8</option>
                <option value=9>9</option>
              </select>
            </li>
            <li>
              <select class="jr_passcode_select"  id="select3" [(ngModel)]="selectitem3"  (change)="selecteitem()">
                <option value=0>0</option>
                <option value=1>1</option>
                <option value=2>2</option>
                <option value=3>3</option>
                <option value=4>4</option>
                <option value=5>5</option>
                <option value=6>6</option>
                <option value=7>7</option>
                <option value=8>8</option>
                <option value=9>9</option>
              </select>
            </li>
            <li>
              <select class="jr_passcode_select"  id="select4" [(ngModel)]="selectitem4" (change)="selecteitem()" >
                <option value=0>0</option>
                <option value=1>1</option>
                <option value=2>2</option>
                <option value=3>3</option>
                <option value=4>4</option>
                <option value=5>5</option>
                <option value=6>6</option>
                <option value=7>7</option>
                <option value=8>8</option>
                <option value=9>9</option>
              </select>
            </li>
             <li>
              <select class="jr_passcode_select"  id="select5" [(ngModel)]="selectitem5" (change)="selecteitem()" >
                <option value=0>0</option>
                <option value=1>1</option>
                <option value=2>2</option>
                <option value=3>3</option>
                <option value=4>4</option>
                <option value=5>5</option>
                <option value=6>6</option>
                <option value=7>7</option>
                <option value=8>8</option>
                <option value=9>9</option>
              </select>
            </li>  
          </ul>
        </div>
        <h4 id="count_down"></h4>
        <h5 id="mob_number"></h5>

        <button ion-button class="jr_submit_signup" (click)="verify()">SUBMIT</button>
        <p><strong>Resend OTP</strong></p>
      </div>
      <!-- <div class="jr_landing_btm">
        <button ion-button class="jr_btm_btn2" (click)="dismiss()">
          <img src="assets/img/jr_arrow1.png">
        </button>
      </div> -->
      <div class="jr_landing_btm">
        <button ion-button class="jr_btm_btn1" (click)="goBack()">
          <img src="assets/img/jr_arrow1.png">
        </button>
      </div>
       <div id="recaptcha-container1"></div>
  </div>
</ion-content>
