<ion-header class="jr_theme_color jr_header">
  <button ion-button class="jr_left jr_header_btn jr_back_icon" (click)="goBack()"></button>
  <div class="jr_header_title" *ngIf="find_data" style="color: black">
    <h4>{{get_loc(find_data.source)}} to {{get_loc(find_data.destination)}} </h4>
  </div>
  <button ion-button class="jr_right jr_header_btn"></button>
  <div class="jr_clear"></div>
</ion-header>


<ion-content padding>
<div class="jr_profile_content1" *ngIf="find_data">

  <div class="jr_search_bottom_bay">
    <div class="jr_search_profile" *ngIf='find_data.users'>
      <div class="jr_search_verified"><img src="assets/img/jr_verified_prof.png"></div>
        <img *ngIf='find_data.users.photo' [src]="find_data.users.photo">
        <img *ngIf='!find_data.users.photo' src="assets/img/jr_pr.png">

    </div>
    <div class="jr_search_profile_detail">
      <h6 *ngIf="find_data.users">
        <span>{{find_data.users.first_name}}&nbsp;{{find_data.users.last_name}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <span *ngIf="find_data.users.age">{{find_data.users.age}}</span>
      </h6>
      <!-- <span class="jr_star_ratting" *ngIf="rate.ratenum!=0"><img src="assets/img/jr_star.png"><strong>{{rate.avgrate}}/5</strong>{{rate.ratenum}} Ratings</span>
      <span class="jr_star_ratting" *ngIf="rate.ratenum==0"><img src="assets/img/jr_star.png"><strong>0/5</strong>{{rate.ratenum}} Ratings</span><br> -->
      <button ion-button class="jr_bookonline" (click)="bookpopup(find_data.no_of_seats)">Book online</button>
    </div>
    <div class="jr_clear"></div>
    <hr>
  </div>
  <div class="jr_preference_bay" *ngIf="find_data.preference">
    <ul>
      <li *ngIf="find_data.preference.chattiness==1||find_data.preference.chattiness==2"><img src="assets/img/e_pre1.png"></li>
      <li *ngIf="find_data.preference.smoking==1||find_data.preference.smoking==2"><img src="assets/img/e_pre2.png"></li>
      <li *ngIf="find_data.preference.music==1||find_data.preference.music==2"><img src="assets/img/e_pre3.png"></li>
      <li *ngIf="find_data.preference.pets==1||find_data.preference.pets==2"><img src="assets/img/e_pre4.png"></li>
    </ul>
  </div>
  <ul class="jr_verification">

    <li [ngClass]="{'verified': verified == 1, 'notverified': verified == 0}">email verified</li>
    <!--<li [ngClass]="{'verified': phne_verified == 1, 'notverified': phne_verified == 0}">Phone number verified</li>-->
  </ul>
  <hr>
  <ul class="jr_verification">
    <li class="loca">{{count}} Rides offered</li>
    <!--<li class="time">
      <div class="child1">Last seen</div>
      <div class="child2">:&nbsp;Today</div>
      <div class="jr_clear"></div>
    </li>-->
    <li *ngIf="find_data.users">
      <div class="child1">Member Since</div>
      <div class="child2">:&nbsp;{{get_join(find_data.users.createdAt)}}</div>
      <div class="jr_clear"></div>
    </li>
    <!--<li class="response">50% message responce rate</li>-->
  </ul>
  <hr>
  <div class="jr_time_schedule">
    <h5><strong>{{find_data.departure_date}},</strong>&nbsp;{{find_data.detour_time}}</h5>
  </div>
  <div class="jr_from_to">
    <li>
      <div class="child1 from">{{find_data.departure_time}}<div class="jr_box1"></div></div>
      <div class="child2"><strong>{{get_loc(find_data.source)}}</strong>
      <p>{{get_loc(find_data.source)}}<br>
     {{get_left_loc(find_data.source)}}</p></div>
      <div class="jr_clear"></div>
    </li>
    <li>
      <div class="child1 to">{{find_data.reached_time}}</div>
      <div class="child2"><strong>{{get_loc(find_data.destination)}}</strong>
      <p>{{get_loc(find_data.destination)}}<br>
     {{get_left_loc(find_data.destination)}}</p></div>
      <div class="jr_clear"></div>
    </li>
  </div>
  <hr>
  <div class="jr_available_seats">
    <div class="jr_seats_left"><strong>{{find_data.no_of_seats}}</strong> Seats Available</div>
    <div class="jr_seats_right"><strong>₹{{find_data.price}}/</strong> Seat</div>
    <div class="jr_clear"></div>
  </div>
  <button class="jr_contact_btn" (click)="contact()">Contact the Car Owner</button>
  <h5>COMMENTS FROM {{find_data.first_name}}</h5>
  <!--<p>“ Should provide Govt. ID, no smoking inside the car,
   allowed medium weight luggage”</p>-->
    <p *ngIf="find_data.comments">“{{find_data.comments}}”</p>
   <hr>
   <ul class="jr_verification">
     <li class="loca1"><strong>0 Km</strong> km, {{find_data.approximatetime}}</li>
     <li class="detour">Detour: {{find_data.detour_time}}</li>
     <li class="flex">Flexibility:{{find_data.pickup_flexibility}}</li>
     <!--<li class="seat1">Max. 2 seats in the back</li>-->
   </ul>
   <hr>
   <h5>CAR AND CAR OWNER INFO</h5>
   <div class="jr_car_info" *ngIf="find_data.car_details">
     <div class="jr_car_info_left">
       <div class="jr_car_info_photo" *ngIf="find_data.car_details.car_image"><img [src]="find_data.car_details.car_image"></div><div class="jr_car_info_photo" *ngIf="!find_data.car_details.car_image"><img src="assets/img/jr_car_img.png"></div>
       <div class="jr_car_info_detail">
         <h6>{{find_data.car_details.car_make}}</h6>
         <p>{{find_data.car_details.car_color}}<br>
          {{find_data.car_details.car_type}}</p>
         </div>
         <div class="jr_clear"></div>
     </div>
     <div class="jr_car_info_right">
       <p><img src="assets/img/jr_luggage.png"><span>{{find_data.max_luggage}}</span></p>
     </div>
     <div class="jr_clear"></div>
   </div>
   <hr>
   <div class="jr_bottom_button_bay1">
     <br>
     <button ion-button class="jr_report" (click)="reportride()" >Report this ride</button>
   </div>
</div>

</ion-content>
