<ion-header class="jr_theme_color jr_header">
  <button ion-button class="jr_left jr_header_btn jr_back_icon" (click)="dismiss()"></button>
  <div class="jr_header_title">
    <h4>{{data.first_name}}</h4>
  </div>
  <div class="jr_clear"></div>
</ion-header>
<ion-content padding>
  <p [hidden]="msg_show">No More messages</p>
   <ion-refresher (ionRefresh)="doInfinite($event)">
        <ion-refresher-content  pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing..."></ion-refresher-content>
    </ion-refresher>
  
    
  <div class="jr_chat_div" *ngFor ="let chat_message of final">
  
    <ul>
     
        
      <li class="jr_sender" *ngIf="chat_message.From_id==id1 && chat_message.type=='text'">
        <div class="jr_search_profile">
          <div class="jr_search_verified"><img src="assets/img/jr_verified_prof.png"></div>
          <img src="assets/img/e_img14.png">
        </div>
        <div class="jr_chat_detail">
          <div class="jr_chat_top"><strong>{{first_name}}</strong><span>{{chat_message.timestamp | date : format : short}}, {{chat_message.timestamp | date : 'shortTime'}}</span>
          <div class="jr_clear"></div>
        </div>
          <div class="jr_message">
           {{chat_message.message}}
            <div class="chat_i"></div>
          </div>
        </div>
        <div class="jr_clear"></div>
      </li>
       <li class="jr_sender" *ngIf="chat_message.From_id==id1 && chat_message.type=='location'">
        <div class="jr_search_profile">
          <div class="jr_search_verified"><img src="assets/img/jr_verified_prof.png"></div>
          <img src="assets/img/e_img14.png">
        </div>
        <div class="jr_chat_detail">
          <div class="jr_chat_top"><strong>{{first_name}}</strong><span>{{chat_message.timestamp | date : format : short}}, {{chat_message.timestamp | date : 'shortTime'}}</span>
          <div class="jr_clear"></div>
        </div>
          <div class="jr_message">
            <h4><a (click)="openLink(chat_message.message.lattitude,chat_message.message.longitude)">
                  <img src='https://maps.googleapis.com/maps/api/staticmap?key=AIzaSyBSw-aJhpBWcLwWa-KbD6SwV8wD7xga-LU&center={{chat_message.message.lattitude}},{{chat_message.message.longitude}}&zoom=13&size=230x150&markers=color:blue%7Clabel:S%7C{{chat_message.message.lattitude}},{{chat_message.message.longitude}}'>
              </a></h4>
            <div class="chat_i"></div>
          </div>
        </div>
        <div class="jr_clear"></div>
      </li>



      <li class="jr_receiver" *ngIf="chat_message.From_id!=id1" >
        <div class="jr_search_profile">
          <div class="jr_search_verified"><img src="assets/img/jr_verified_prof.png"></div>
          <img src="assets/img/e_img14.png">
        </div>
        <div class="jr_chat_detail">
          <div class="jr_chat_top"><strong>YOU</strong><span>22/06/2017, 05:15 am</span>
            <div class="jr_clear" ></div>
          </div>
          <div class="jr_message" >
             {{chat_message.message}}
            <div class="chat_i"></div>
          </div>
        </div>
        <div class="jr_clear"></div>
      </li>  
    </ul>  
  </div>
</ion-content>
<ion-footer>
<div class="jr_bottom_button_bay">
      <div class="jr_text_msg" style="margin-bottom:10px;">
        <input class="jr_send_msg" placeholder="Type your message here" [(ngModel)]="msg">
        <div class="jr_attch">
          <span (click)="locationselect()"><img src="assets/img/jr_attch_loc.png"></span>
          <!--<span><img src="assets/img/jr_attch_smile.png"></span>-->
        </div>
      </div>
      <button ion-button class="jr_bottom_send"(click)="send()">Send<span><img src="assets/img/jr_send_arw.png"></span></button>
    </div>
  <!--</div>-->
</ion-footer>
