
<ion-content>
  <form  [formGroup]="filterride" (ngSubmit)="filterrideForm($event,filterride.value)">
  <div class="jr_profile_content">
    <br>
    <br>
      <div class="jr_text_center">
        <div class="jr_edit_row jr_text_center">
          <h3 class="jr_margintop0">Search Filter</h3>
          <hr>
        </div>
      </div>
        <div class="jr_edit_row inp_show">
           <ion-item class="jr_input3">
          <ion-datetime  formControlName="ride_date"  min={{tom}} max="2030" placeholder="Departure Date"  displayFormat="MMM DD YYYY" [(ngModel)]="month"></ion-datetime>
          </ion-item>
          <div *ngIf="dep_date==true">Please choose Departure Date</div>
        </div>
        <div class="jr_edit_row inp_show">
           <ion-item class="jr_input3">
           <ion-datetime  formControlName="ride_time" placeholder="Leaving after"  displayFormat="h:mm:ss a" [(ngModel)]="month2"></ion-datetime>
           </ion-item>
           <div *ngIf="ride_date==true">Please choose Leaving after</div>
        </div>
        <div class="jr_profile_tab_content jr_seats">
          <h4>No of Seats</h4>
          <div class="jr_seat_number" style="padding-top:0px;">
            <ul (click)="seatFn($event)" >
              <li>1</li>
              <li >2</li>
              <li>3</li>
              <li>4</li>
              <li>5</li>
            </ul>
          </div>
          <!--<div class="jr_edit_row ">
          <h4>Price per co- travellers</h4>
          </div>-->
        <!--<div class="jr_edit_row ">
          <p>Approval time</p>
          <select class="jr_select jr_bordernone">
            <option><strong>Under 6 h</strong></option>
          </select>
        </div>-->
        <div class="jr_edit_row ">
          <!-- <div>
            <ion-item>
              <ion-label> Show only people with photos</ion-label>
              <ion-toggle disabled checked="false"></ion-toggle>
            </ion-item>
          </div> -->
        </div>
        <div *ngIf="seat_number==true">Please Select Seat Number</div>
        </div>
    </div>
    <button ion-button class="jr_filter_okay">
    </button>
     </form>
    <button type="button" ion-button class="jr_filter_close" (click)="dismiss()">
    </button>
   
</ion-content>
