
<ion-header class="jr_theme_color1">
   <div class="jr_header">
      <button menuToggle ion-button class="jr_left jr_header_btn jr_sidemenu_icon" ></button>
      <div class="jr_header_title">
         <h4>Booked rides</h4>
      </div>
      <button ion-button class="jr_right jr_header_btn jr_profile_icon" (click)="profile()"></button>
      <div class="jr_clear"></div>
   </div>
   <div class="jr_home_tab_bay jr_theme_color1 jr_header">
      <ul>
         <li [class.active]="tab=='active'" (click)="tab_swap('active')">Current</li>
         <li [class.active]="tab=='inactive'" (click)="tab_swap('inactive')">History</li>
      </ul>
   </div>
</ion-header>
<ion-content class="jr_body_wrapper">
  <div class="jr_home_tab_content height100"  [hidden]="tab=='active'">
      <div class="jr_home_active height100">
         <div class="jr_profile_content" *ngIf="current_offers.length > 0">
            <div class="jr_home_offer_ride height100">
               <ul>
                <li *ngFor="let item of current_offers" (click)="map_page(item)">
                  <div class="jr_home_offer_photo" *ngIf="item.car && item.car.car_image"><img src="{{item.car_image}}"></div>
                  <div class="jr_home_offer_photo" *ngIf="item.car && !item.car.car_image"><img src="assets/img/jr_car_img.png"></div>

                    <div class="jr_home_offer_detail">
                      <h5>{{item.departure_date}}</h5>
                      <h6>{{item.departure_time}}</h6>
                      <p>{{get_loc(item.source)}}<span><img src="assets/img/jr_forward.png"></span>{{get_loc(item.destination)}}</p>
                    </div>
                    <div class="jr_clear"></div>
                     <div class="jr_home_btm">
                     </div>
                </li>
               </ul>
            </div>
          </div>
          <div class="jr_home_tab_content jr_theme_color1 jr_text_center jr_ride_wrapper width100 height100" *ngIf="current_offers.length==0">
            <br><br>
            <img src="assets/img/jr_history.png">
            <p>You have no recent rides. </p>
         </div>
        </div>
    </div>

    <div class="height100" [hidden]="tab=='inactive'">
      <div class="jr_home_active">
         <div class="jr_profile_content height100" *ngIf="history_offers.length > 0" >
            <div class="jr_home_offer_ride height100" >
               <ul >
                <li *ngFor="let item of history_offers" (click)="map_page(item)">
                     <div class="jr_home_offer_photo" *ngIf="item.car && item.car.car_image"><img src="{{item.car.car_image}}"></div>
                     <div class="jr_home_offer_photo" *ngIf="item.car && !item.car.car_image"><img src="assets/img/jr_car_img.png"></div>

                     <div class="jr_home_offer_detail">
                        <h5>{{item.departure_date}}</h5>
                        <h6>{{item.departure_time}}</h6>
                        <p>{{get_loc(item.source)}}<span><img src="assets/img/jr_forward.png"></span>{{get_loc(item.destination)}}</p>
                        <!--<div class="jr_edit_more" (click)="presentPopover1($event,'offer',item)"><img src="assets/img/jr_more.png"></div>-->
                     </div>
                     <div class="jr_clear"></div>

                  </li>

               </ul>
             </div>
          </div>
          <div *ngIf="history_offers.length==0" class="jr_home_tab_content jr_theme_color1 jr_text_center jr_ride_wrapper width100 height100" >
             <br/><br/>
             <img src="assets/img/jr_history.png" />
             <p>You have no recent rides. </p>
          </div>
      </div>



    </div>
</ion-content>
