<ion-header class="jr_theme_color jr_header">
  <button ion-button class="jr_left jr_header_btn jr_back_icon" (click)="goBack()"></button>
  <div class="jr_header_title">
    <h4>Offer a ride</h4>
  </div>
  <button ion-button class="jr_right jr_header_btn"></button>
  <div class="jr_clear"></div>
</ion-header>
<ion-content>
  <div class="jr_offerride_details heightadjust">
    <ul>
      <li>
        <h4><img src="assets/img/jr_price.png">Price</h4>
        <div class="jr_offerride_detail_content  inp_show">
          <div class="jr_offerride_detail_content_left">
            <div class="jr_destination">
              <span><img src="assets/img/jr_departure.png">{{place_from}}</span><br>
              <span><img src="assets/img/jr_arrival.png">{{placed_to}}</span>
            </div>
          </div>
          <div class="jr_offerride_detail_content_right">
            <div class="jr_offerride_price_tag">
              <span (click)="decrement(price)"><img src="assets/img/jr_sub.png"></span>
              <span class="jr_offer_price">{{price}}</span>
              <span (click)="increment(price)"><img src="assets/img/jr_add.png"></span>
            </div>
          </div>
          <div class="jr_clear"></div>
        </div>
      </li>
      <li>
        <div class="jr_offerride_detail_content  inp_show">
          <div class="jr_offerride_detail_content_left">
            <h4><img src="assets/img/jr_seat.png">Available Seats</h4>
          </div>
          <div class="jr_offerride_detail_content_right">
            <div class="jr_offerride_price_tag">
              <span (click)="decrementseats(seats)"><img src="assets/img/jr_sub.png"></span>
              <span class="jr_offer_price" style="color:#717171;">{{seats}}</span>
              <span (click)="incrementseats(seats)"><img src="assets/img/jr_add.png"></span>
            </div>
          </div>
          <div class="jr_clear"></div>
        </div>
      </li>


      <li>
        <div class="jr_offerride_detail_content  inp_show">
          <div class="jr_offerride_detail_content_left">
            <h4><img src="assets/img/jr_seat.png">Approximate Time</h4>
          </div>
          <div class="jr_offerride_detail_content_right">
            <ion-item class="jr_select jr_bordernone">
              <ion-datetime placeholder="Approximate Time"  displayFormat="h:mm" [(ngModel)]="approximatetime"></ion-datetime>
            </ion-item>
          </div>
          <div class="jr_clear"></div>
        </div>
      </li>



      <li>
        <h4><img src="assets/img/jr_comment.png">Ride Comments</h4>
        <h5>Write your ride  comments here</h5>
        <p>Please add further details about your ride. It will save you answering lots of questions from co- travellers<br>
          <button ion-button class="jr_addcomment_btn" (click)="addcomment()">Add Comments</button>
        </p>
        {{comments}}
      </li>

      <li>
        <div>
        <h4 class="jr_left"><img src="assets/img/jr_seat.png">Max. 2 in the back seat</h4>
        <div class="jr_custom jr_right jr_padding0" style="position: relative;top: 19px;">
          <input id="check11" name="checkseat" type="checkbox" value="check11">
          <label for="check11"></label>
        </div>
        <div class="jr_clear"></div>
        </div>
        <p>Guarantee max. 2 people in the back of the car</p>
      </li>




      <li>
        <h4><img src="assets/img/jr_detail.png">Details</h4>
        <p  *ngIf="cardetails_data"class="">Select car</p>
        <ion-item class="jr_select_offer_outter">
           <ion-select class="jr_select_offer"  required [(ngModel)]="car_id" ngControl="car_id" name="car_id"  >
             <ion-option *ngFor="let cardetail of cardetails_data" value="{{cardetail.car_id}}">{{cardetail.car_make}}</ion-option>
           </ion-select>
        </ion-item>
         <p  *ngIf="!cardetails_data" (click)="addcar()">Add car</p>

        <p class="">Max. Luggage</p>
        <div class="jr_select_offer_outter  inp_show">
        <select class="jr_select_offer" [(ngModel)]="luggage">
          <option>Small</option>
          <option>Medium</option>
          <option>Large</option>
        </select>
        </div>
        <p class="">Pickup flexibility</p>
        <div class="jr_select_offer_outter">
        <select class="jr_select_offer" [(ngModel)]="flexibility">
           <option>5 minutes after right time</option>
          <option>Right on time</option>
          <option>5 minutes before right time</option>
        </select>
        </div>
        <p class="">Detour</p>
        <div class="jr_select_offer_outter">
        <select class="jr_select_offer" [(ngModel)]="detour">
          <option>15 Minutes Detour max.</option>
        </select>
        </div>
        <div class="jr_custom inp_show">
            <input id="checkfff" type="checkbox" name="check" value="checkfff" (click)="check_privacy()">
            <label for="checkfff">I accept the T&Cs and Privacy Policy.</label>
        </div>
      </li>
    </ul>

  </div>
  <div class="jr_bottom_button_bay inp_show">
      <!-- <button ion-button class="jr_offer_ride2"  (click)="loginpop()">Publish</button> -->
      <button ion-button class="jr_offer_ride2" [disabled]="!privacy" (click)="loginpop()">Publish</button>
    </div>
</ion-content>
