<ion-header class="jr_theme_color jr_header">
  <button ion-button class="jr_left jr_header_btn jr_back_icon" (click)="goBack()"></button>
  <div class="jr_header_title">
    <h4>Profile</h4>
  </div>
  <button ion-button class="jr_right jr_header_btn jr_mail_icon" (click)="message()"></button>
  <div class="jr_clear"></div>
</ion-header>
<ion-content>
  <div class="jr_profile_wrapper">
    <button class="jr_more_pop_up" (click)="presentPopover($event)"><img src="assets/img/jr_more.png"></button>
    <div class="jr_profile_banner">
      <div class="jr_profile_photo">
       <img *ngIf="currentUser && currentUser.profile_photo" [src]="currentUser.profile_photo" >
        <div class="jr_profile_photo_edit" (click)="editphoto()">
          <img src="assets/img/jr_edit.png">
        </div>
      </div>
    </div>
    <div class="jr_profile_content">
      <h4 *ngIf="currentUser">{{currentUser.first_name|uppercase}} {{currentUser.last_name|uppercase}}</h4>
      <hr>
      <br>
      <div class="jr_profile_tab_bay">
        <li [class.active]="tab=='active'" (click)="tab_swap('active')">Details</li>
        <li [class.active]="tab=='inactive'" (click)="tab_swap('inactive')">Accounts</li>
        <div class="jr_clear"></div>
      </div>
      <div class="jr_profile_tab_content" [hidden]="tab=='inactive'">
        <h4>ABOUT YOU</h4>
        <ul>
          <li (click)="editbio()">Write my Biography</li>
          <li (click)="editpreference()">Add my Preferences</li>
        </ul>
        <hr>
        <h4>VERIFICATION</h4>
        <ul>
          <li (click)="editid()">Verify my ID</li>
          <!-- <li (click)="addnumber()">Add my Phone</li> -->
         <!--  <li class="verified">email@dummymail.com</li> -->
           <li [class.verified]="email_is_verified=='1'">{{currentUser.email}}</li>
          <li (click)="changePassword()">Change Password</li>
         <!--  <li class="verified">Facebook Verified</li> -->
        </ul>
        <hr>
        <h4>CAR</h4>
        <ul>
          <li (click)="addcar()">Add my Car</li>
          <br>
          <li *ngFor="let c of usercar">
            <div class="jr_car_pic">
              <div class="jr_edit1"  (click)="addcarphoto(c.car_id)"><img src="assets/img/jr_edit1.png"></div>
            </div>
            <div class="jr_car_name" (click)="editcar(c.car_id)">
             <h5 *ngIf="usercar">{{c.car_type}}</h5>
              <p *ngIf="usercar">{{c.car_color}}</p>
            </div>
            <div class="jr_clear"></div>
          </li>
          <br><br>
        </ul>
        <div class="jr_bottom_button_bay">
          <button ion-button class="jr_offer_ride4" (click)="publicprofile()">See my public profile</button>
        </div>
      </div>
      <div class="jr_profile_tab_content" [hidden]="tab=='active'" >
        <h4>PREFERENCES</h4>
        <ul>
          <li (click)="notification()">Notifications</li>
        </ul>
        <hr>
        <h4>ABOUT</h4>
        <ul>
          <li (click)="help()">Help</li>
          <li (click)="terms()">Terms & Conditions</li>
          <li (click)="privacy()">Privacy Policy</li>
          <li (click)="license()">Licenses</li>
        </ul> <br><br>
        <div class="jr_bottom_button_bay">
         <button ion-button class="jr_offer_ride4" (click)="publicprofile()">See my public profile</button>
        </div>

      </div>
    </div>
  </div>

</ion-content>
