<ion-header class="jr_theme_color jr_header">
    <button menuToggle ion-button class="jr_left jr_header_btn jr_sidemenu_icon"></button>
  <div class="jr_header_title">
    <h4>Offer a ride</h4>
  </div>
  <button ion-button class="jr_right jr_header_btn"></button>
  <div class="jr_clear"></div>
</ion-header>
<ion-content>
  <div class="jr_ride_wrapper">
    <form [formGroup]="offerride" (ngSubmit)="offerrideForm($event,offerride.value)" class="height100">
  <div class="heightadjust">
    <h5>Wanna Offer a Ride ?</h5>
    <div class="jr_offer_bg">
        <img src="assets/img/jr_offer_img.png">
    </div>
    <div class="jr_ride_form">
      <input id="placefrom"  formControlName="place_from" class="jr_ride_input1 inp_show" [(ngModel)]=place_from placeholder="From" (focus)="autocompleteFocusfrom()" autofocus>
      <br><br>
      <input id="placeto" formControlName="place_to"  class="jr_ride_input2 inp_show" placeholder="To" (focus)="autocompleteFocusto()" autofocus>
      <div class="jr_box"></div>
      <div class="jr_custom inp_show">
          <input  formControlName="round_trip" id="check1" type="checkbox" name="check" value="check1" (click)="check_roundtrip(true)">
          <label for="check1">Round Trip</label>
      </div>
      <div class="jr_time_div inp_show">
        <div class="jr_date">
          <ion-item class="jr_select" >
            <ion-datetime   formControlName="dep_date" placeholder="Departure Date"  min={{tom}} max="2030" displayFormat="MMM DD YYYY" [(ngModel)]="month1"></ion-datetime>
          </ion-item>
          <div class="jr_clear"></div>
        </div>
        <div class="jr_time">
      <div>
      <ion-item class="jr_select">
        <ion-datetime formControlName="time_dep" placeholder="Time"  displayFormat="h:mm:ss a" [(ngModel)]="myDate1"></ion-datetime>
      </ion-item>
      </div>
        </div>
		 <!-- <div class="jr_time">
      <div>
      <ion-item class="jr_select">
        <ion-datetime formControlName="approximatetime" placeholder="Approximate Time"  displayFormat="h:mm" [(ngModel)]="approximatetime"></ion-datetime>
      </ion-item>
      </div>
        </div> -->
        <div class="j_clear"></div>
      </div>
    <div class="j_clear"></div>
    <br><br>
    <br>
      <div class="jr_time_div" [hidden]='return' >
        <div class="jr_date">
          <!-- <input class="jr_input3" placeholder="Departure Date"> -->
          <ion-item class="jr_select">
            <ion-datetime   formControlName="rtrn_date" placeholder="Return Date"   max="2030" min={{tom1}} displayFormat="MMM DD YYYY" [(ngModel)]="month2"></ion-datetime>
          </ion-item>
          <div class="jr_clear"></div>
        </div>
        <div class="jr_time">
      <div>
      <ion-item class="jr_select">
        <ion-datetime formControlName="time_rtrn" placeholder="Time" displayFormat="h:mm:ss a" [(ngModel)]="myDate2"></ion-datetime>
      </ion-item>
      </div>
        </div>
        <div class="j_clear"></div>
      </div>

    </div>
    </div>
    <div class="jr_bottom_button_bay">
      <button ion-button class="jr_offer_ride2" [disabled]="!offerride.valid">Continue</button>
    </div>
    </form>
  </div>

</ion-content>
