<ion-header class="jr_theme_color jr_header">
  <button ion-button class="jr_left jr_header_btn jr_back_icon" (click)="goBack()"></button>
  <div class="jr_header_title">
    <h4>Start Drive</h4>
  </div>
  <div class="jr_clear"></div>
</ion-header>
<ion-content padding>
	<div class="jr_profile_content1">
	<div class="jr_time_schedule">
		<h5  *ngIf="data"><strong>{{data.departure_date}},</strong>&nbsp;{{data.departure_time}}</h5>
	</div>
	  <div class="jr_from_to" *ngIf="data">
		<li>
		  <div class="child1 from">{{data.detour_time}}<div class="jr_box1"></div></div>
		  <div class="child2"><strong>{{get_loc(data.source)}}</strong>
		  <p>{{get_loc(data.source)}}<br>
		{{get_left_loc(data.source)}}</p></div>
		  <div class="jr_clear"></div>
		</li>
		<li>
		  <div class="child1 to">{{data.reached_time}}<div class="jr_box1"></div></div>
		  <div class="child2"><strong>{{get_loc(data.destination)}}</strong>
		  <p>{{get_loc(data.destination)}}<br>
		 {{get_left_loc(data.destination)}}</p></div>
		  <div class="jr_clear"></div>
		</li>
	  </div>
	  <hr>
	  <h5>CAR AND CAR OWNER INFO</h5>
	   <div class="jr_car_info" *ngIf="cardetails">
		 <div class="jr_car_info_left">
		   <div class="jr_car_info_photo"><img *ngIf="cardetails.car_image" src="{{cardetails.car_image}}"><img *ngIf="!cardetails.car_image" src="assets/img/jr_car_img.png"></div>
		   <div class="jr_car_info_detail">
			 <h6>{{cardetails.car_type}}</h6>
			 <p>{{cardetails.car_color}}<br>
			  {{cardetails.main_cartype}}</p>
			 </div>
			 <div class="jr_clear"></div>
		 </div>
		 <div class="jr_car_info_right">
		   <p><img src="assets/img/jr_luggage.png"><span>{{cardetails.no_of_seats}} Seats</span></p>
		 </div>
		 <div class="jr_clear"></div>
	   </div>
	   <hr>
	   <div class="jr_car_passenger_list" *ngIf="cotravellers_list">
			<ul>
				<li  *ngFor="let item of cotravellers_list let i=index">
					<ion-grid>
					  <ion-row>
						<ion-col col-2>
						  <div class="jr_number_circle">{{i+1}}</div>
						</ion-col>
						<ion-col col-6>
						  <h5>{{item.first_name}} {{item.last_name}}</h5>
						  <h6>{{item.phone_no}}</h6>
						</ion-col>
						<ion-col col-2>
						  <img (click)=phone(item.phone_no) src="assets/img/jr_circle_call.png">
						</ion-col>
						<ion-col col-2>
						  <img (click)="chat(item.id)"src="assets/img/jr_circle_msg.png">
						</ion-col>
					  </ion-row>
					</ion-grid>
				</li>

			</ul>
		</div>
	 </div>
</ion-content>
<ion-footer>
	<div class="jr_bottom_button_bay">
      <button ion-button class="jr_offer_ride2" *ngIf="data.status==1" (click)="location()">Start Drive</button>
       <button ion-button class="jr_offer_ride2" disabled  *ngIf="data.status==3">Ride Completed</button>
    </div>
</ion-footer>
