<ion-header class="jr_theme_color jr_header">
  <button ion-button class="jr_left jr_header_btn jr_back_icon" (click)="dismiss()"></button>
  <div class="jr_header_title" *ngIf="user_data">
    <h4>{{user_data.first_name}}</h4>
  </div>
  <div class="jr_clear"></div>
</ion-header>


<ion-content padding>
  <div class="jr_profile_content1" *ngIf="data">
    <div class="jr_search_bottom_bay" *ngIf="data.users">
      <div class="jr_search_profile">
        <div class="jr_search_verified"><img src="assets/img/jr_verified_prof.png"></div>
        <img *ngIf="data.users.photo" [src]="data.users.photo">
        <img *ngIf="!data.users.photo" src="assets/img/jr_pr.png">
      </div>
      <div class="jr_search_profile_detail" style="padding-top:15px;">
        <h6><span>{{data.users.first_name}}&nbsp;{{data.users.last_name}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span *ngIf="data.users.age">{{data.users.age}}</span></h6>
         <span class="jr_star_ratting" *ngIf="rate.ratenum!=0"><img src="assets/img/jr_star.png"><strong>{{rate.avgrate}}/5</strong>{{rate.ratenum}} Rattings</span><br>
      <span class="jr_star_ratting" *ngIf="rate.ratenum==0"><img src="assets/img/jr_star.png"><strong>0/5</strong>{{rate.ratenum}} Rattings</span><br>
      </div>
      <div class="jr_clear"></div>
      <hr>
    </div>
    <div class="jr_time_schedule">
      <h5><strong>{{data.departure_date}},</strong>&nbsp;{{data.departure_time}}</h5>
    </div>
    <div class="jr_from_to">
      <li>
        <div class="child1 from">{{data.departure_time}}<div class="jr_box1"></div></div>
        <div class="child2"><strong>{{get_loc(data.source)}}</strong>
        <p>{{get_loc(data.source)}}<br>
       {{get_left_loc(data.source)}}</p></div>
        <div class="jr_clear"></div>
      </li>
      <li>
        <div class="child1 to">{{data.reached_time}}</div>
        <div class="child2"><strong>{{get_loc(data.destination)}}</strong>
        <p>{{get_loc(data.destination)}}<br>
       {{get_left_loc(data.destination)}}</p></div>
        <div class="jr_clear"></div>
      </li>
    </div>
    <!--<hr>
    <div class="jr_your_booking">
      <h5>Your Booking</h5>
      <p>Request a reply by</p>
      <select class="jr_select_offer">
        <option>Today, 05:00pm</option>
        </select>
    </div>
    <hr>-->
    <div class="jr_available_seats">
      <div class="jr_seats_left"><strong>{{seat}}</strong> Seats Available</div>
      <div class="jr_seats_right"><strong>₹{{data.price*seat}}</strong></div>
      <div class="jr_clear"></div>
    </div>
    <div class="jr_bottom_button_bay">

      <button ion-button class="jr_bottom_send" (click)="request()" >Continue<span><img src="assets/img/jr_send_arw.png"></span></button>
    </div>
  </div>

</ion-content>
