<ion-content class="jr_transparent jr_text_center">
  <div class="jr_book_pop_up_wrapper">
    <h4 class="jr_padding0 jr_margin0">No of seats to</h4>
    <h3 class="jr_margintop0">Book</h3>
    <hr>
    <div class="jr_counter">
      <span class="jr_count_item" (click)="decrement()"><img src="assets/img/jr_sub.png"></span>
      <span class="jr_count">{{seats}}</span>
      <span class="jr_count_item" (click)="increment()"><img src="assets/img/jr_add.png"></span>
    </div>
    <div class="jr_custom">
            <input id="check1" name="check" type="checkbox" value="check1" (click)="change_fun()">
            <label for="check1">I accept the T&Cs and
Privacy Policy</label>
        </div>
        <button [disabled]="get_value()" ion-button class="jr_bookonline" (click)="secureseat()">Book online</button>
  </div>

</ion-content>
