<ion-header class="jr_theme_color jr_header">
  <button ion-button class="jr_left jr_header_btn jr_back_icon" (click)="dismiss()"></button>
  <div class="jr_header_title">
    <h4 *ngIf="userdata">{{userdata.first_name}}</h4>
  </div>
  <div class="jr_clear"></div>
</ion-header>


<ion-content padding>
  <div class="jr_profile_content1">
    <div class="jr_search_bottom_bay">
      <div class="jr_search_profile">
        <div class="jr_search_verified"><img src="assets/img/jr_verified_prof.png"></div>
        <img  *ngIf="data.users.profile_photo" [src]="data.profile_photo">
         <img  *ngIf="!data.users.profile_photo"src="assets/img/jr_pr.png">
      </div>
      <div class="jr_search_profile_detail">
        <h6>{{data.users.first_name}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{data.users.age}}</h6>
       <!--  <span class="jr_star_ratting" *ngIf="rate.ratenum!=0"><img src="assets/img/jr_star.png"><strong>{{rate.avgrate}}/5</strong>{{rate.ratenum}} Ratings</span><br> -->
      <!-- <span class="jr_star_ratting" *ngIf="rate.ratenum==0"><img src="assets/img/jr_star.png"><strong>0/5</strong>{{rate.ratenum}} Ratings</span><br> -->
        <button ion-button class="jr_bookonline" (click)="bookpopup()">Book online</button>
      </div>
      <div class="jr_clear"></div>
      <hr>
    </div>
    <div class="jr_time_schedule">
      <h5><strong>{{data.departure_date}},</strong>&nbsp;{{data.detour_time}}</h5>
    </div>
    <div class="jr_from_to">
      <li>
        <div class="child1 from">{{data.detour_time}}<div class="jr_box1"></div></div>
        <div class="child2"><strong>{{get_loc(data.source)}}</strong>
        <p>{{data.source}}<br>
        {{get_left_loc(data.source)}}</p></div>
        <div class="jr_clear"></div>
      </li>
      <li>
        <div class="child1 to">{{data.reached_time}}</div>
        <div class="child2"><strong>{{get_loc(data.destination)}}</strong>
        <p>{{get_loc(data.destination)}}<br>
 {{get_left_loc(data.destination)}}</p></div>
        <div class="jr_clear"></div>
      </li>
    </div>
    <hr>
    <div class="jr_available_seats">
      <div class="jr_seats_left"><strong>{{data.no_of_seats}}</strong> Seats Avialable</div>
      <div class="jr_seats_right"><strong>₹{{data.price}}/</strong> Seat</div>
      <div class="jr_clear"></div>
    </div>
    <div class="jr_text_msg">
      <input class="jr_send_msg" placeholder="Type your message here"[(ngModel)]="msg">
      <div class="jr_attch">
        <span (click)="locationselect()"><img src="assets/img/jr_attch_loc.png"></span>
        <!--<span><img src="assets/img/jr_attch_smile.png"></span>-->
      </div>
    </div>
    <div class="jr_bottom_button_bay">

      <button ion-button class="jr_bottom_send" (click)=" chat()">Send<span><img src="assets/img/jr_send_arw.png"></span></button>
    </div>
  </div>

</ion-content>
