<ion-header class="jr_theme_color jr_header">
  <button ion-button class="jr_left jr_header_btn jr_back_icon" (click)="dismiss()"></button>
  <div class="jr_header_title">
    <h4>Notifications</h4>
  </div>
  <button ion-button class="jr_right jr_header_btn jr_mail_icon"></button>
  <button ion-button class="jr_right jr_header_btn jr_profile_icon"></button>
  <div class="jr_clear"></div>
</ion-header>


<ion-content>
  <div class="jr_profile_wrapper">
    <div class="jr_profile_content">
    <div class="jr_profile_tab_content">
      <div class="jr_edit_row">
        <h4>PUSH NOTIFICATIONS</h4>
        <h6>Receive push notifications for the following actions</h6>
        <div class="jr_notification">
          <ul>
            <li>
              <div class="child1">
                New co- traveller confirmed
              </div>
              <div class="child2">
                <div class="jr_custom1">
                   <input id="check1" type="checkbox" name="push_cotraveller_confirmation" (ngModel)="notify.push_cotraveller_confirmation" (click)="set_co_travaller($event)" value="1" [checked]="notify.push_cotraveller_confirmation==1?true:false">
                    <label for="check1"></label>
                </div>
              </div>
              <div class="jr_clear"></div>
            </li>
            <li>
              <div class="child1">
                Messages Received
              </div>
              <div class="child2">
                <div class="jr_custom1">
                    <input id="check2" type="checkbox" name="push_msg_recieved" (click)="set_push_msg($event)" (ngModel)="notify.push_msg_recieved" value="1" [checked]="notify.push_msg_recieved==1?true:false">
                    <label for="check2"></label>
                </div>
              </div>
              <div class="jr_clear"></div>
            </li>
           <!--  <li>
              <div class="child1">
                Ratings
              </div>
              <div class="child2">
                <div class="jr_custom1">
                     <input id="check3" type="checkbox" name="push_ratings" (click)="set_ratings($event)" (ngModel)="notify.push_ratings" [checked]="notify.push_ratings==1?true:false" value="1">
                    <label for="check3"></label>
                </div>
              </div>
              <div class="jr_clear"></div>
            </li> -->
            <hr>
          </ul>
        </div>
      </div>
      <div class="jr_edit_row">
        <h4 class="jr_paddingtop0">SMS</h4>
        <h6>Receive a SMS at for the following actions</h6>
        <div class="jr_notification">
          <ul>
            <li>
              <div class="child1">
              Messages from a new co- traveller
              </div>
              <div class="child2">
                <div class="jr_custom1">
                   <input id="check4" type="checkbox" name="push_cotraveller_message" (click)="set_cotraveller_message($event)" (ngModel)="notify.push_cotraveller_message" value="1" [checked]="notify.push_cotraveller_message==1?true:false">
                    <label for="check4"></label>
                </div>
              </div>
              <div class="jr_clear"></div>
            </li>
            <hr>
          </ul>
        </div>
      </div>
      <div class="jr_edit_row">
        <h4 class="jr_paddingtop0">EMAIL</h4>
        <h6>Receive an email for the following actions</h6>
        <div class="jr_notification">
          <ul>
            <li>
              <div class="child1">
              Ride offer published
              </div>
              <div class="child2">
                <div class="jr_custom1">
                     <input id="check5" type="checkbox" name="email_ride_publish" (click)="set_ride_publish($event)" (ngModel)="notify.email_ride_publish" value="1" [checked]="notify.email_ride_publish==1?true:false">
                    <label for="check5"></label>
                </div>
              </div>
              <div class="jr_clear"></div>
            </li>
            <li>
              <div class="child1">
              Ride offer updated
              </div>
              <div class="child2">
                <div class="jr_custom1">
                     <input id="check6" type="checkbox" name="email_ride_update" (click)="set_ride_update($event)" (ngModel)="notify.email_ride_update" value="1" [checked]="notify.email_ride_update==1?true:false">
                    <label for="check6"></label>
                </div>
              </div>
              <div class="jr_clear"></div>
            </li>
            <li>
              <div class="child1">
              New message received
              </div>
              <div class="child2">
                <div class="jr_custom1">
                   <input id="check7" type="checkbox" name="email_msg_recieved" (click)="set_email_msg($event)" (ngModel)="notify.email_msg_recieved" value="1" [checked]="notify.email_msg_recieved==1?true:false">
                    <label for="check7"></label>
                </div>
              </div>
              <div class="jr_clear"></div>
            </li>
            <li>
              <div class="child1">
              Pending ratings after a ride taken
              </div>
              <div class="child2">
                <div class="jr_custom1">
                    <input id="check8" type="checkbox" name="email_pending_ratings" (click)="set_pend_rating($event)" (ngModel)="notify.email_pending_ratings" value="1" [checked]="notify.email_pending_ratings==1?true:false">
                    <label for="check8"></label>
                </div>
              </div>
              <div class="jr_clear"></div>
            </li>
            <li>
              <div class="child1">
              New rating received
              </div>
              <div class="child2">
                <div class="jr_custom1">
                <input id="check9" type="checkbox" name="email_new_rating" (click)="set_new_rating($event)" (ngModel)="notify.email_new_rating" value="1" [checked]="notify.email_new_rating==1?true:false">
                    <label for="check9"></label>
                </div>
              </div>
              <div class="jr_clear"></div>
            </li>
            <li>
              <div class="child1">
            Useful informations
              </div>
              <div class="child2">
                <div class="jr_custom1">
                   <input id="check10" type="checkbox" name="email_info" (click)="set_info($event)" (ngModel)="notify.email_info" value="1" [checked]="notify.email_info==1?true:false">
                    <label for="check10"></label>
                </div>
              </div>
              <div class="jr_clear"></div>
            </li>
            <hr>
          </ul>
        </div>
      </div>
    </div>
  </div>

    <div class="jr_bottom_button_bay">
      <button ion-button class="jr_offer_ride5" (click)="save_notification()">Submit</button>
    </div>
  </div>

</ion-content>
