<ion-menu [content]="content" side="left" id="menu1" >
  <ion-content class="jr_inside_bg height100">
    <div class="jr_sidemenu_bg height100">
        <div class="jr_sidemenu_top" *ngIf="currentUser">
          <div class="jr_sidemenu_photo">
            <div *ngIf="currentUser.profile_photo">
             <img [src]="currentUser.profile_photo">
            </div>
            <div *ngIf="!currentUser.profile_photo">
               <img src="assets/img/jr_img.png">
            </div>
          </div>
        </div>
        <div class="jr_sidemenu_top" *ngIf="!currentUser">
          <div class="jr_sidemenu_photo">
           <img src="assets/img/jr_img.png">
          </div>
        </div>
        <div class="jr_sidemenu_detail" *ngIf="currentUser">
          <h4>{{currentUser.first_name}} {{currentUser.last_name}}</h4>
          <p>{{currentUser.email}}</p>
          <button class="jr_side_edit" menuClose (click)="editprofile()">Edit<ion-icon name="md-create"></ion-icon></button>

          <ul>
            <li menuClose (click)="home()"><ion-icon name="home"></ion-icon><span>Home</span></li>
            <li menuClose (click)="findride()"><ion-icon name="search"></ion-icon><span>Find a ride</span></li>
            <li menuClose (click)="offerride()"><ion-icon name="bus"></ion-icon><span>Offer a ride</span></li>
            <li menuClose (click)="offeredride()"><ion-icon name="hand"></ion-icon><span>Offered ride</span></li>
            <li menuClose (click)="yourride()"><ion-icon name="car"></ion-icon><span>Your ride</span></li>
            <li menuClose (click)="logout()"><ion-icon name="log-out"></ion-icon><span>Logout</span></li>
          </ul>
        </div>
        <div class="jr_sidemenu_detail" *ngIf="!currentUser">
           <ul>
            <li menuClose (click)="login()"><ion-icon name="ios-log-in-outline"></ion-icon>Login</li>
            <li menuClose (click)="signup()"><ion-icon name="ios-at-outline"></ion-icon>Sign Up</li>
           </ul>
        <div class="jr_clear"></div>
      </div>
    </div>
</ion-content>
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>

<!--<ion-list>
  <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
    {{p.title}}
  </button>
</ion-list>-->
