<ion-header class="jr_theme_color jr_header">
  <button ion-button class="jr_left jr_header_btn jr_back_icon" (click)="dismiss()"></button>
  <div class="jr_header_title">
    <h4>Forgot Password</h4>
  </div>
  <div class="jr_clear"></div>
</ion-header>
<ion-content>
  <div class="jr_profile_content jr_paddingbtm0">
    <br>
    <br>
      <div class="jr_edit_row">
        <h5><strong>FORGOT YOUR PASSWORD</strong></h5>
        <p style="margin-top: 5px;margin-bottom:5px;">New password will be sent to this Email</p>
      </div>
	  <form [formGroup]="forgot" (ngSubmit)="forgot_password()">
		  <div class="jr_edit_row">
			<input type="text" class="jr_edit_profile_input" formControlName="email" placeholder="Email">
		  </div>
		  <div class="jr_edit_row">
			<button type="submit" ion-button [disabled]="!forgot.valid" class="jr_member_rate" >Sent Mail</button>
		  </div>
	  </form>
  </div>

</ion-content>
