<ion-header class="jr_theme_color jr_header">
  <button ion-button class="jr_left jr_header_btn jr_close_icon" (click)="dismiss()"></button>
  <div class="jr_header_title">
    <h4>Create an Alert</h4>
  </div>
  <button ion-button class="jr_right jr_header_btn"></button>
  <div class="jr_clear"></div>
</ion-header>
<ion-content padding>
    <div class="jr_ride_wrapper">
      <h3> You will get an email when new
rides matching your alert
are offered.</h3>
<ul *ngIf="data">
  <br>
  <li class="from">{{source_head}}</li>
  <br>
  <li class="to">{{destination_head}}</li>
  <br>
</ul>

<div class="jr_time_div inp_show" style=" height:130px" >
        <div class="jr_date width100">
          <ion-item class="jr_select" >
            <ion-datetime   min={{tom}} max="2030-10-31" placeholder="Departure Date"  displayFormat="MMM DD YYYY" [(ngModel)]="month"></ion-datetime>
          </ion-item>
          <div class="jr_clear"></div>
        </div>
        <div class="jr_time width100 jr_padding0">
			<!-- <ion-item class="jr_select jr_padding0 ">
				<ion-datetime  placeholder="After Leaving Time"  displayFormat="h:mm:ss a" [(ngModel)]="before_time"></ion-datetime>

			</ion-item> -->

      <ion-item class="jr_select jr_padding0 ">
        <ion-datetime  placeholder="After Leaving Time"  displayFormat="h:mm:ss a" [(ngModel)]="time"></ion-datetime>

      </ion-item>
        </div>
        <div class="j_clear"></div>
        <br>
        <br>
</div>

      <div class="jr_bottom_button_bay">
        <button ion-button class="jr_offer_ride2" (click)="goback()">Create a ride alert</button>
      </div>
    </div>
</ion-content>
