<ion-header class="jr_theme_color jr_header">
  <button ion-button class="jr_left jr_header_btn jr_back_icon" (click)="goBack()"></button>
  <div class="jr_header_title">
    <h4>Passport</h4>
  </div>
  <button ion-button class="jr_right jr_header_btn"></button>
  <div class="jr_clear"></div>
</ion-header>
<ion-content>
    <form #formpass="ngForm" (ngSubmit)="passform()" >
  <div class="jr_profile_content">
    <div class="jr_text_center">
      <div class="jr_edit_row jr_text_center">
        <br><br>
      <!-- <h4 class="jr_padding0 jr_margin0">is that the name on your</h4> -->
      <h3 class="jr_margintop0">Passport</h3>
      <hr>
    </div>
      </div>
          <div class="jr_edit_row">
          <h5>PASSPORT NUMBER</h5>
          <input name="pass_no" class="jr_edit_profile_input" placeholder="PASSPORT NUMBER" [(ngModel)]="passport.pass_no" required>
          
        </div>
    <div class="jr_edit_row">
          <h5>FULL NAME</h5>
          <input name="full_name" class="jr_edit_profile_input" placeholder="FULL NAME" [(ngModel)]="passport.full_name" required>
          
        </div>
       



            <div class="jr_edit_row">
                <h5>DATE OF BIRTH</h5>
                <div style="padding-top: 10px;">
            <ion-grid class="jr_padding0">
              <ion-row>
              <ion-col col-3>
                <select required  name="day" class="jr_edit_select1" [(ngModel)]="passport.day">
                <option value="" >dd</option>
                <option *ngFor="let d of dd" value="{{d}}">{{d}}</option>
                </select>
              </ion-col>
              <ion-col  col-4>
                <select required  name="month" class="jr_edit_select1" [(ngModel)]="passport.month">
                      <option value="">mm</option>
                      <option  *ngFor="let m of mm" value="{{m.value}}">{{m.text}}</option>
                    </select>
              </ion-col>
              <ion-col col-5>
                <select required name="year"  class="jr_edit_select1" [(ngModel)]="passport.year">
                      <option value="">yyyy</option>
                      <option  *ngFor="let y of yy" value="{{y}}">{{y}}</option>
                    </select>
              </ion-col>
              </ion-row>
            </ion-grid>
                </div>
              </div>


            
            <div class="jr_confidential jr_bordernone">
              <div class="jr_confidential_left">
                <img src="assets/img/jr_confidentional.png" >
              </div>
              <div class="jr_confidential_right">
                <p>Your ID card will be kept strictly
      confidential</p>
              </div>
              <div class="jr_clear"></div>
            </div>


  <div class="jr_bottom_button_bay">
    <button [disabled]="!formpass.form.valid" type="submit" ion-button class="jr_offer_ride2">Continue</button>
    
  </div>
  </div>
  </form>
</ion-content>
