<!-- <ion-header class="jr_theme_color jr_header">
  <button ion-button class="jr_left jr_header_btn jr_back_icon" (click)="goBack()"></button>
  <div class="jr_header_title" *ngIf="source">
    <h4>{{source}} to {{destination}}</h4>
  </div>
  <button ion-button class="jr_right jr_header_btn jr_alert_icon" (click)="alert()"></button>
  <div class="jr_clear"></div>
</ion-header>
<ion-content>
  <div class="jr_profile_content" style="width:90%;">

     <div class="jr_no_ride" *ngIf="!result">
      <div class="jr_profile_content">
      <div class="jr_text_center">
        <div class="jr_edit_row jr_text_center">
          <br><br>
              <h3 class="jr_margintop0">No Rides</h3>
        <h4 class="jr_padding0 jr_margin0">matching your search</h4>
        <hr>
        </div>
        <div class="jr_offer_bg">
          <img src="assets/img/jr_noride_bg.png">
        </div>
        <p>Create an alert to be notified of new rides or<br> offer a rides and get co- travellers</p>
        </div>
      </div>
      <div class="jr_bottom_button_bay">
        <button ion-button class="jr_offer_ride2" (click)="alert()">Create a ride alert</button>
      </div>
    </div>

    <div class="jr_duration"  *ngIf="result">
      <div class="jr_avg_duration">
        <p>Average Duration</p>
        <h4></h4>
      </div>
      <div class="jr_avg_price">
        <p>from</p>
        <h4><strong>₹{{kmcharge}}.00</strong></h4>
      </div>
      <div class="jr_clear"></div>
    </div>

    <div class="jr_search_main"  *ngIf="result" >
      <h5>TODAY</h5>
      <ul *ngFor="let item of result">
       <li (click)="searchmain()">
          <div class="jr_search_top_bay">
            <div class="jr_search_top_bay_left">
              <h6>{{item.departure_time}}<strong>{{source}}</strong></h6>
              <h6>{{item.reached_time}}<strong>{{destination}}</strong></h6>
            </div>
            <div class="jr_search_top_bay_right">
               <h6>₹ {{item.price}}</h6>
            </div>
            <div class="jr_clear"></div>
          </div>
          <div class="jr_search_bottom_bay">
            <div class="jr_search_profile">
              <div class="jr_search_verified"><img src="assets/img/jr_verified_prof.png"></div>
              <img *ngIf='item.users.profile_photo'[src]="item.users.profile_photo">
               <img *ngIf='!item.users.profile_photo' src="assets/img/jr_pr.png">
            </div>
            <div class="jr_search_profile_detail">
              <h6>{{item.users.first_name}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{data.age}} Y/O</h6>
              <span *ngIf="item.rating.rating !=0" class="jr_star_ratting"><img src="assets/img/jr_star.png"><strong>>{{item.rating.rating}}/</strong> Rattings</span>
              <ul>
               <!--  <li><span>04s</span></li>
                <li><span>12h</span></li> --><!--
              </ul>
            </div>
            <div class="jr_clear"></div>
          </div>
        </li>
      </ul>
    </div>



  </div>
  <button ion-button class="jr_filter_icon" (click)="filter()">
  </button>
</ion-content> -->

<ion-header class="jr_theme_color jr_header">
  <button ion-button class="jr_left jr_header_btn jr_back_icon" (click)="goBack()"></button>
  <div class="jr_header_title" *ngIf="source && destination">
    <h4>{{source}} to {{destination}}</h4>
  </div>
  <button ion-button class="jr_right jr_header_btn jr_alert_icon" (click)="alert()"></button>
  <div class="jr_clear"></div>
</ion-header>
<ion-content>
  <div class="jr_profile_content">

    <!-- <div class="jr_no_ride">
      <div class="jr_profile_content">
      <div class="jr_text_center">
        <div class="jr_edit_row jr_text_center">
          <br><br>
              <h3 class="jr_margintop0">No Rides</h3>
        <h4 class="jr_padding0 jr_margin0">matching your search</h4>
        <hr>
        </div>
        <div class="jr_offer_bg">
          <img src="assets/img/jr_noride_bg.png">
        </div>
        <p>Create an alert to be notified of new rides or<br> offer a rides and get co- travellers</p>
        </div>
      </div>
      <div class="jr_bottom_button_bay">
        <button ion-button class="jr_offer_ride2" (click)="alert()">Create a ride alert</button>
      </div>
    </div> -->

    <div class="jr_duration" *ngIf="item_res.length>0">
      <div class="jr_avg_duration" >
        <p>Average Duration</p>
        <h4>{{avg_duration(item_res)}}</h4>
      </div>
      <div class="jr_avg_price">
        <p>from</p>
        <h4><strong>₹ {{avg_price(item_res)}}</strong></h4>
      </div>
      <div class="jr_clear"></div>
    </div>
    <div class="jr_search_main" >
      <h5>{{check_date(req_date)}}</h5>
      <ul *ngIf="item_res.length>0">
        <li *ngFor="let item of item_res"  (click)="searchmain(item.id)">
          <div class="jr_search_top_bay">
            <div class="jr_search_top_bay_left">
              <h6>{{item.departure_time}}<strong>{{get_loc(item.destination)}}</strong></h6>
              <h6>{{item.reached_time}}<strong>{{get_loc(item.source)}}</strong></h6>
            </div>
            <div class="jr_search_top_bay_right">
              <h6>₹ {{item.price}}</h6>
            </div>
            <div class="jr_clear"></div>
          </div>
          <div class="jr_search_bottom_bay">
            <div class="jr_search_profile">
              <div class="jr_search_verified" ><img src="assets/img/jr_verified_prof.png"></div>
              <img *ngIf="item.users.photo" [src]="item.users.photo">
              <img src="assets/img/e_img14.png" *ngIf="!item.users.photo">
            </div>
            <div class="jr_search_profile_detail">
              <h6>{{item.users.first_name}}&nbsp;{{item.users.last_name}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{item.users.age}}</h6>
              <span class="jr_star_ratting"><img src="assets/img/jr_star.png"><strong>3/5</strong>1 Rattings</span>
              <ul>
                <li><span>{{get_time(item.approximatetime,0)}}h</span></li>
                <li><span>{{get_time(item.approximatetime,1)}}</span></li>
              </ul>
            </div>
            <div class="jr_clear"></div>
          </div>
        </li>

        <!-- <li>
          <div class="jr_search_top_bay">
            <div class="jr_search_top_bay_left">
              <h6>09:00<strong>Chennai</strong></h6>
              <h6>18:00<strong>Kochin</strong></h6>
            </div>
            <div class="jr_search_top_bay_right">
              <h6>₹ 600</h6>
            </div>
            <div class="jr_clear"></div>
          </div>
          <div class="jr_search_bottom_bay">
            <div class="jr_search_profile">
              <div class="jr_search_verified"><img src="assets/img/jr_verified_prof.png"></div>
              <img src="assets/img/e_img14.png">
            </div>
            <div class="jr_search_profile_detail">
              <h6>MARIA LORENZA&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;37 Y/O</h6>
              <span class="jr_star_ratting"><img src="assets/img/jr_star.png"><strong>3/5</strong>1 Rattings</span>
              <ul>
                <li><span>04s</span></li>
                <li><span>12h</span></li>
              </ul>
            </div>
            <div class="jr_clear"></div>
          </div>
        </li> -->
      </ul>
      <div *ngIf="item_res.length==0">No Trip Found</div>
    </div>
  </div>
  <button ion-button class="jr_filter_icon" (click)="filter()">
  </button>
</ion-content>
