<ion-content class="jr_transparent jr_text_center">
  <div class="jr_book_pop_up_wrapper" style="border-radius:0px;">
    <h3 class="jr_margintop0" style="font-weight: 300;">Feel free to Rate us</h3>
    <hr>
	
	<fieldset class="jr_rating">
    <input type="radio"[(ngModel)]="rate_ride" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
    <!-- <input type="radio" [(ngModel)]="rate_ride"  id="star4half" name="rating" value="4.5" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label> -->
    <input type="radio" [(ngModel)]="rate_ride"  id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
    <!-- <input type="radio" [(ngModel)]="rate_ride" id="star3half" name="rating" value="3.5" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label> -->
    <input type="radio" [(ngModel)]="rate_ride" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
    <!-- <input type="radio"[(ngModel)]="rate_ride"  id="star2half" name="rating" value="2.5 " /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label> -->
    <input type="radio"[(ngModel)]="rate_ride"  id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
    <!-- <input type="radio" [(ngModel)]="rate_ride" id="star1half" name="rating" value="1.5" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label> -->
    <input type="radio" [(ngModel)]="rate_ride" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
    <!-- <input type="radio"[(ngModel)]="rate_ride"  id="starhalf" name="rating" value=".5" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label> -->
	</fieldset>
	<div class="jr_clear"></div>
        <button ion-button class="jr_offer_ride2" (click)="rating()">Rate</button>
  </div>
  <div class="close_pop" (click)="pop_close()"></div>

</ion-content>