<ion-header class="jr_theme_color jr_header">
  <button ion-button class="jr_left jr_header_btn jr_back_icon" (click)="dismiss()"></button>
  <div class="jr_header_title">
    <h4>Upload your Govt ID</h4>
  </div>
  <button ion-button class="jr_right jr_header_btn"></button>
  <div class="jr_clear"></div>
</ion-header>
<ion-content>
  <div class="jr_profile_content">
    <div class="jr_text_center">
      <div class="jr_edit_row jr_text_center">
        <br><br>
      <h4 class="jr_padding0 jr_margin0">Upload good quality copy of your </h4>
      <h3 class="jr_margintop0">Pancard</h3>
      <hr>
    </div>
    <div class="jr_upload_img">
      <br>
      <img src="assets/img/jr_upload.png" >
    </div>
  </div>

  <div class="jr_bottom_button_bay">
    <button ion-button class="jr_offer_ride2" (click)="take_picture()">Upload</button>
  </div>
</div>

</ion-content>

