<ion-header class="jr_theme_color jr_header">
  <button ion-button class="jr_left jr_header_btn jr_back_icon" (click)="dismiss()"></button>
  <div class="jr_header_title">
    <h4>Choose a Pickup Points</h4>
  </div>
  <div class="jr_clear"></div>
</ion-header>
<ion-content>
  <div class="jr_pick_drop">
     <div class="jr_map" #map id="map">
    </div>
    <div class="jr_pick_drop_detail">
      <div class="jr_up_arw" (click)="pickex()">
        <img src="assets/img/jr_arw_up.png">
      </div>
      <h5>Pickup Location</h5>
      <hr>
      <ul>
        <li>
          <div class="jr_loc_no">1</div>
          <p>Majestic</p>
          <div class="jr_clear"></div>
        </li>
        <li>
          <div class="jr_loc_no">2</div>
          <p>Kormangala</p>
          <div class="jr_clear"></div>
        </li>
      </ul>


    </div>
  </div>
</ion-content>
