<ion-header class="jr_theme_color jr_header">
  <button ion-button class="jr_left jr_header_btn jr_back_icon" (click)="dismiss()"></button>
  <div class="jr_header_title">
    <h4>Edit Photo</h4>
  </div>
  <button ion-button class="jr_right jr_header_btn"></button>
  <div class="jr_clear"></div>
</ion-header>


<ion-content>
  <div class="jr_profile_wrapper">
    <div class="jr_profile_banner">
      
    <div class="jr_profile_photo">
     
          <img *ngIf="userdata" [src]="profile_photo" >
      
        <div class="jr_profile_photo_edit">
          <img src="assets/img/jr_edit.png" (click)="take_picture()" >
        </div>
      </div>
        
    </div>
    <div class="jr_profile_content">
      <br>
      <div class="jr_text_center">
          <button ion-button (click)="uploadPicture()" class="jr_addcomment_btn">Choose Photo</button>
      </div>
 <br>
      <hr>
      <div class="jr_text_center">
        <div class="jr_edit_row jr_text_center">
          <br>
        <h3>Tips</h3>
        <h4 class="jr_padding0 jr_margin0">To Take Better Photos</h4>
      </div>
        <div class="jr_edit_row ">
        <p class="jr_text_center">
          No sunglasses<br>
Facing the camera<br>
You alone<br>
Clear and bright<br>


        </p>
      </div>
      </div>
    </div>
  </div>

</ion-content>
