
<ion-header class="jr_theme_color jr_header">
    <button ion-button class="jr_left jr_header_btn jr_back_icon" (click)="goBack()"></button>
  <div class="jr_header_title">
    <h4>Edit Offered ride</h4>
  </div>
  <button ion-button class="jr_right jr_header_btn"></button>
  <div class="jr_clear"></div>
</ion-header>
<ion-content *ngIf="data">
<div class="heightadjust">
    <div class="jr_ride_form">
      <input id="placefrom" class="jr_ride_input1 inp_show" [(ngModel)]="place_from" placeholder="From" (focus)="autocompleteFocusfrom()" autofocus>
      <br><br>
        <input id="placeto"  class="jr_ride_input2 inp_show" [(ngModel)]="place_to"  placeholder="To" (focus)="autocompleteFocusto()" autofocus>
      <div class="jr_box"></div>
      <div class="jr_time_div" style="height:50px;padding-top: 10px;">
        <div class="jr_date">
          <ion-item class="jr_input3">
             <ion-datetime   placeholder="Departure Date"  displayFormat="MMM DD YYYY"  max="2030-10-31" min={{tom}} [(ngModel)]="month"></ion-datetime>
          </ion-item>
          <div class="jr_clear"></div>
        </div>
          <div class="jr_time">
			<div>
			<ion-item class="jr_select">
				<ion-datetime  placeholder="Time" displayFormat="h:mm:ss a" [(ngModel)]="mytime"></ion-datetime>
			</ion-item>
			<div class="jr_clear"></div>
			</div>
        </div>
        <div class="j_clear"></div>
      </div>
    </div>
    <div class="jr_offerride_details">
    <ul>
      <li>
        <div class="jr_offerride_detail_content">
		 <h4><img src="assets/img/jr_price.png">Price</h4>
          <div class="jr_offerride_detail_content_left">
            <div class="jr_destination">
              <span><img src="assets/img/jr_departure.png">{{place_from}}</span><br>
              <span><img src="assets/img/jr_arrival.png">{{place_to}}</span>
            </div>
          </div>
          <div class="jr_offerride_detail_content_right">
            <div class="jr_offerride_price_tag">
              <span (click)="decrement()"><img src="assets/img/jr_sub.png"></span>
              <span class="jr_offer_price">{{price}}</span>
              <span (click)="increment()"><img src="assets/img/jr_add.png"></span>
            </div>
          </div>
          <div class="jr_clear"></div>
        </div>
      </li>
      <li>
        <div class="jr_offerride_detail_content">
          <div class="jr_offerride_detail_content_left">
            <h4><img src="assets/img/jr_seat.png" >Available Seats</h4>
          </div>
          <div class="jr_offerride_detail_content_right">
            <div class="jr_offerride_price_tag">
              <span><img src="assets/img/jr_sub.png" (click)="decrementseats()"></span>
              <span class="jr_offer_price" style="color:#717171;">0{{seats}}</span>
              <span><img src="assets/img/jr_add.png"(click)="incrementseats()"></span>
            </div>
          </div>
          <div class="jr_clear"></div>
        </div>
      </li>
      <li>
        <h4><img src="assets/img/jr_comment.png">Ride Comments</h4>
        <h5>Write your ride  comments here</h5>
        <p>Please add further details about your ride. It will save you answering lots of questions from co- travellers<br>
          <button ion-button class="jr_addcomment_btn" (click)="addcomment()">Add Comments</button>
        </p>
      </li>
      <li>
        <h4><img src="assets/img/jr_detail.png">Details</h4>
        <p class="jr_marginbtm0">Select car</p>
		<ion-item class="jr_select_offer_outter">
			<ion-select class="jr_select_offer" required [(ngModel)]="car_id" ngControl="car_id" name="car_id"  >
				<ion-option *ngFor="let cardetail of cardetails_data" value="{{cardetail.id}}">{{cardetail.car_name}}</ion-option>
			</ion-select>
		</ion-item>
		<p class="jr_marginbtm0">Max. Luggage</p>
        <div class="jr_select_offer_outter">
        <select class="jr_select_offer" [(ngModel)]="luggage">
          <option>Small</option>
          <option>Medium</option>
          <option>Large</option>
        </select>
        </div>
        <p class="jr_marginbtm0">Pickup flexibility</p>
        <div class="jr_select_offer_outter" >
        <select class="jr_select_offer" [(ngModel)]="flexibility">
          <option>5 minutes after right time</option>
          <option>Right on time</option>
          <option>5 minutes before right time</option>
        </select>
        </div>
        <p class="jr_marginbtm0">Detour</p>
        <div class="jr_select_offer_outter">
        <select class="jr_select_offer" [(ngModel)]="detour">
          <option>15 Minutes Detour max.</option>
        </select>
        </div>
      </li>
    </ul>
    
  </div>
  </div>
  <div class="jr_bottom_button_bay">
      <button ion-button class="jr_offer_ride2" (click)="edit()">Save</button>
    </div>

</ion-content>


