<ion-header class="jr_theme_color jr_header">
  <button ion-button class="jr_left jr_header_btn jr_back_icon" (click)="dismiss()"></button>
  <div class="jr_header_title">
    <h4>Change Password</h4>
  </div>
  <div class="jr_clear"></div>
</ion-header>
<ion-content>
  <div class="jr_profile_content jr_paddingbtm0">
    <br>
    <br>
     <form [formGroup]="changePassword" (ngSubmit)="changePasswordForm()">
      <div class="jr_edit_row">
        <h5><strong>CHANGE A PASSWORD</strong></h5>
        <p style="margin-top: 5px;margin-bottom:5px;">Choose a High Security Password</p>
      </div>
      <div class="jr_edit_row">
        <input type="password"[(ngModel)]="pswrd.currentPassword"  formControlName="currentPassword" class="jr_edit_profile_input" placeholder="Current Password">
      </div>
      <div class="jr_edit_row">
        <input type="password" [(ngModel)]="pswrd.newPassword" formControlName="newPassword" class="jr_edit_profile_input" placeholder="New Password">
      </div>
      <div class="jr_edit_row">
        <input type="password" [(ngModel)]="pswrd.confirmpassword" formControlName="confirmpassword" class="jr_edit_profile_input" placeholder="Confirm Password">
      </div>
      <div class="jr_edit_row">
        <button ion-button class="jr_member_rate" [disabled]="!changePassword.valid">Update</button>
      </div>
    </form>
  </div>

</ion-content>
