<ion-header class="jr_theme_color jr_header">
  <button ion-button class="jr_left jr_header_btn jr_back_icon" (click)="dismiss()"></button>
  <div class="jr_header_title">
    <h4>Edit Biography</h4>
  </div>
  <button ion-button class="jr_right jr_header_btn"></button>
  <div class="jr_clear"></div>
</ion-header>
<ion-content>
  <div class="jr_offerride_details">
	<form   #edit_biography="ngForm" (ngSubmit)="update_bio(form)" >
    <ul>
      <li>
        <h4><img src="assets/img/jr_pr.png">YOUR BIOGRAPHY</h4>
        <textarea *ngIf="editbio" [(ngModel)]="editbio.biography" required class="jr_input_comment" name="biography" placeholder="Type here" rows="5"></textarea>
      </li>
    </ul>
    <div class="jr_bottom_button_bay">
      <button class="jr_tick" type="submit" [disabled]="!edit_biography.form.valid">
        <img src="assets/img/jr_tick.png">
      </button>
    </div>
	</form>
  </div>
</ion-content>
