
<ion-content class="jr_login_bg">
  <div class="jr_profile_content">
      <div class="jr_login_detail">
        <h5>Your</h5>
        <h4>journey starts here !</h4>
        <p>Share your car journey with co- travellers just<br> like you and cover all your fuel costs!</p>
        <hr>
         <form [formGroup]="signup" (ngSubmit)="signupForm()">
         <input type="text"  formControlName="first_name" class="jr_login_input1" placeholder="First Name">
         <input type="text"  formControlName="last_name" class="jr_login_input1" placeholder="Last Name">
         <input type="email"  formControlName="email" type="email" class="jr_login_input1" placeholder="Email">
         <input type="password"  formControlName="password" class="jr_login_input1" placeholder="Password">
          <input type="number"  formControlName="mobile"  class="jr_login_input1" placeholder="Mobile">
         <button type="submit" [disabled]="!signup.valid" ion-button class="jr_offer_ride3">SIGNUP</button>
         </form>
      </div>


      <!-- <div class="jr_landing_btm">
        <button ion-button class="jr_btm_btn2" (click)="goBack()">
          <img src="assets/img/jr_arrow1.png">
        </button>
      </div> -->
  </div>
</ion-content>
