<ion-header class="jr_theme_color jr_header">
  <button ion-button class="jr_left jr_header_btn jr_back_icon" (click)="dismiss()"></button>
  <div class="jr_header_title">
    <h4>My public profile</h4>
  </div>
  <button ion-button class="jr_right jr_header_btn jr_mail_icon"></button>
  <button ion-button class="jr_right jr_header_btn jr_profile_icon"></button>
  <div class="jr_clear"></div>
</ion-header>
<ion-content>
  <div class="jr_profile_wrapper">
    <div class="jr_profile_banner1">
      <div class="jr_profile_photo1">
        <img src="{{is_photo}}">
         <!--<img src="http://192.168.138.54/Running_projects/ws/./assets/uploads/profile_pic/745718793one.jpg"> -->
      </div>
    </div>
    <div class="jr_profile_content">
      <h4 *ngIf="userdata">{{userdata.first_name|uppercase}} {{userdata.last_name|uppercase}}</h4>
      <p *ngIf="year" class="jr_age1">{{year}}-{{month}}-{{day}}</p>
      <hr>

    <div class="jr_profile_tab_content">
      <div class="jr_edit_row">
      <h4>ABOUT YOU</h4>
      <p *ngIf="userdata">
        {{userdata.biography}}
      </p>

    <h4>VERIFICATION</h4>
    <ul>
      <!-- <li *ngIf="is_phone" [class.verified]="userdata.phone_is_verified=='1'">{{userdata.phone_no}}</li> -->
     <!--  <li (click)="addnumber()" *ngIf="!is_phone">Add my Phone</li> -->
     <li  [class.verified]="email_is_verified=='1'">{{userdata.email}}</li>
    
    </ul>
    <h4>LAST SEEN</h4>
    <ul>
      <!-- <li class="jr_bg_none">Last Seen&nbsp;:&nbsp;Today</li> -->
      <li *ngIf="userdata" class="jr_bg_none">Member Since&nbsp;:&nbsp;{{userdata.join_date | date :  "MMMM  y" }}</li>
    </ul>
    </div>
    </div>
    </div>
  </div>

</ion-content>
