<ion-header class="jr_theme_color jr_header">
  <button ion-button class="jr_left jr_header_btn jr_back_icon" (click)="dismiss()"></button>
  <div class="jr_header_title">
    <h4>Login</h4>
  </div>
  <button ion-button class="jr_right jr_header_btn"></button>
  <div class="jr_clear"></div>
</ion-header>


<ion-content padding class="jr_theme_trans_bg">
  <div class="jr_almost_wrapper">
    <h3>Almost there!</h3>
    <p>You need to be authenticated to<br> publish your ride offer</p>
    <hr>
    <div [hidden]="login_status==false">
      <form [formGroup]="login" (ngSubmit)="home()">
          <input class="jr_loginpop_input" formControlName="email" type="email" placeholder="Email">
          <input class="jr_loginpop_input" formControlName="password" type="password" placeholder="Password">
          <button ion-button class="jr_loginpop_btn" [disabled]="!login.valid" type="submit">LOGIN</button>
          <p (click)="signUp()"><i>New User?</i></p>
      </form>
    </div>
    <div [hidden]="login_status==true">
      <form [formGroup]="signup" (ngSubmit)="signupForm()">
           <input type="text"  formControlName="first_name" class="jr_loginpop_input" placeholder="First Name">
           <input type="text"  formControlName="last_name" class="jr_loginpop_input" placeholder="Last Name">
           <input type="email"  formControlName="email" type="email" class="jr_loginpop_input" placeholder="Email">
           <input type="password"  formControlName="password" class="jr_loginpop_input" placeholder="Password">
            <input type="number"  formControlName="mobile"  class="jr_loginpop_input" placeholder="Mobile">
           <button type="submit" [disabled]="!signup.valid" ion-button class="jr_loginpop_btn">SIGNUP</button>
      </form>
      <p (click)="signin()"><i>Already Account</i></p>
    </div>
<!-- <button ion-button class="jr_loginpop_btn" (click)="manage()">LOGIN</button> -->
	<!-- <button ion-button class="jr_loginpop_btn">LOGIN</button> -->
    <!-- <br> -->
    <!-- <button ion-button class="jr_signpop_btn">SIGNUP</button> -->
  </div>

</ion-content>
