<ion-header class="jr_theme_color jr_header">
  <button ion-button class="jr_left jr_header_btn jr_back_icon" (click)="dismiss()"></button>
  <div class="jr_header_title">
    <h4>Privacy</h4>
  </div>
  
  <div class="jr_clear"></div>
</ion-header>
<ion-content>
  <div class="jr_profile_wrapper">
    <div class="jr_profile_content">
    <div class="jr_profile_tab_content">
      <div class="jr_edit_row">
        <p *ngIf="userprivacy" [innerHtml]="userprivacy"></p>
      </div>
    </div>
  </div>
  </div>
</ion-content>
