<ion-header class="jr_theme_color1 jr_header">
    <button menuToggle ion-button class="jr_left jr_header_btn jr_sidemenu_icon"></button>
  <div class="jr_header_title">
    <h4>Find a ride</h4>
  </div>
  <button ion-button class="jr_right jr_header_btn"></button>
  <div class="jr_clear"></div>
</ion-header>


<ion-content>
  <div class="jr_ride_wrapper">
      <form [formGroup]="findride" (ngSubmit)="findrideForm($event,findride.value)" class="height100">
    <div class="heightadjust">
    <h5>Looking for a Ride?</h5>
    <!-- <button ion-button (click)="go_back()">Test</button> -->
    <div class="jr_offer_bg">
        <img src="assets/img/jr_find_img.png">
    </div>

    <div class="jr_ride_form inp_show">
      <input class="jr_ride_input1" id="ridefrom" formControlName="ride_from" placeholder="From" (focus)="autocompleteFocusfrom()" autofocus>
      <br><br>
      <input class="jr_ride_input2" id="rideto" formControlName="ride_to" placeholder="To" (focus)="autocompleteFocusto()" autofocus>
      <div class="jr_box"></div>
      <br>
      <br>
      <br>
      <div class="jr_time_div inp_show">
          <ion-item class="jr_select">
           <ion-datetime   formControlName="ride_date" placeholder="Departure Date"  min={{tom}} max="2030" displayFormat="MMM DD YYYY" [(ngModel)]="month1"></ion-datetime>
           </ion-item>
        <div class="j_clear"></div>
      </div>
      <br>
     <div class="jr_time_div inp_show">
      <ion-item class="jr_select">
       <ion-datetime formControlName="rtrnride_date" placeholder="Leaving after"  displayFormat="h:mm:ss a" [(ngModel)]="month2"></ion-datetime>
     </ion-item>
        <div class="j_clear"></div>
      </div>
      <div class="jr_seat_number">
         <ul (click)="seatFn($event)" >
          <span>Number of Seats</span>
          <li [ngClass]="{'selectedSeat': seats == 1}">1</li>
          <li [ngClass]="{'selectedSeat': seats == 2}">2</li>
          <li [ngClass]="{'selectedSeat': seats == 3}">3</li>
        </ul>
      </div>
    </div>
  </div>
    <div class="jr_bottom_button_bay">
      <button ion-button class="jr_offer_ride3" [disabled]="!findride.valid">Find a Ride</button>
    </div>
    </form>
  </div>

</ion-content>
